.my-items-pict {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.nft-item-sell-buton {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(34, 32, 33, 0.5);
  border-radius: 16px;
  top: 12px;
  right: 12px;
  z-index: 1;
  border: 1px solid rgb(78, 77, 77);
  transition: all 0.2s ease;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.nft-data-content .nft-item-sell-buton {
  position: absolute;
  right: 270px;
  top: 62px;
}

.nft-item-sell-buton i {
  /* color: #e882d5; */
  color: #fff;
}

.nft-item-sell-buton:hover {
  background: rgb(34, 32, 33);
  border: 1px solid rgb(78, 77, 77);
  transition: all 0.2s ease;
}

@media screen and (max-width: 725px) {
  .nft-data-content .nft-item-sell-buton {
    right: 210px;
  }
}

@media screen and (max-width: 539px) {
  .nft-data-content .nft-item-sell-buton {
    width: 34px;
    height: 34px;
    font-size: 20px;
    border-radius: 8px;
    top: 40px;
    right: 170px;
  }
}

@media screen and (max-width: 480px) {
  .nft-data-content .nft-item-sell-buton {
    top: 32px;
  }
}

@media screen and (max-width: 400px) {
  .nft-data-content .nft-item-sell-buton {
    right: 135px;
  }
}
