/* Repeating properties*/

.text-gradient {
    background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 45px;
    font-size: 40px;
    font-weight: 700;
}

.home-splash-mobile {
    display: none;
}


/* main block */

.wrapper-splash-page {
    overflow: hidden;
    background-image: url('./images/victory_lap.png'), url('./images/maraphon.png'), url('./images/or.png'), url('./images/humble.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 891px 353px, 1203px 432px, 992px 420px, 1202px 415px;
    background-position: 600px 730px, 200px 2750px, 0 1400px, 0px 3800px;
}

.wrapper-splash-page.greyman-page {
    background-image: none;
}

.home-splash--page {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
    /* padding-left: 80px; */
}


/* Author Information Block*/

.information-author {
    position: relative;
    overflow: hidden;
    padding: 94px 91px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    /* height: 694px; */
    background-image: url('./images/nipsey.png');
    background-repeat: no-repeat;
    background-size: 530px auto;
    background-position: 95% center;
}

.information-author.greyman-page-author {
    background-image: url('./images/greyman.png');
    background-size: 516px 516px;
    background-position: 90% center;
    height: 694px;
}

.information-author.greyman-page-author .block-splash {
    justify-content: flex-end;
}

.block-splash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.block-splash .logo-author {
    margin-top: 88px;
}

.block-splash .logo-author img:first-child {
    width: 313px;
    height: auto;
}

.text-splash .title-splash {
    margin-bottom: 24px;
}

.information-author.greyman-page-author .text-splash .title-splash.greyman-page h3 {
    color: #222021;
    font-size: 32px;
}

.information-author.greyman-page-author .text-splash .title-splash.greyman-page h3.text-gradient {
    font-size: 40px;
}

.text-splash .title-splash h3 {
    font-size: 24px;
    font-weight: 800;
    color: #A7A6A6;
    margin: 0;
}

.text-splash .title-splash span {
    font-size: 64px;
    color: #4E4D4D;
    font-weight: 800;
}

.text-splash .text-description {
    width: 500px;
    font-size: 20px;
}

.text-splash p {
    color: #A7A6A6;
    font: 20px;
    line-height: 36px;
    font-weight: 400;
}

.information-author.greyman-page-author .text-splash p {
    line-height: 28px;
}

.btn-buy-metamask {
    margin-top: 56px;
}

.btn-buy-metamask button {
    font-size: 20px;
    color: #fff;
    background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    width: 303px;
    height: 64px;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-buy-metamask button:hover {
    background: linear-gradient(320.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    /* background: red; */
}

.btn-buy-metamask button img.metamask-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.block-splash-img {
    position: absolute;
    top: 79px;
    right: -60px;
}

.block-splash-img img {
    width: 667px;
    height: 494px;
}


/* Left Tokens Block*/

.left-tokens {
    display: flex;
    margin-top: 108px;
    justify-content: space-between;
    max-width: 1200px;
}

.left-tokens .block-left-tokens {
    border-radius: 24px;
    width: 456px;
    height: 584px;
    margin-right: 91px;
    overflow: hidden;
    background: url('./images/left-tokens.jpeg') center center;
    background-size: cover;
    position: relative;
}

.left-tokens.greyman-page .block-left-tokens {
    background: url('./images/greyman.png') center center;
    background-size: cover;
}

.block-left-tokens .down-text {
    position: absolute;
    bottom: 16px;
    left: 32px;
    font-size: 12px;
    list-style: 21px;
    text-align: left;
    color: #fff;
}

.progress-tokens {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* .progress-tokens span {
    margin-top: 200px;
    margin-right: 200px;
} */

.box-progress {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 108px;
    margin-top: 172px;
}

.text-progress {
    color: #fff;
    position: absolute;
    line-height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-progress .progress-info {
    display: flex;
    align-items: center;
    /* padding-bottom: 40px; */
    width: 240px;
    height: 240px;
    justify-content: center;
    flex-direction: column;
}

.text-progress .text-numbers {
    display: flex;
}

.left-tokens.greyman-page .text-progress .text-numbers {
    flex-direction: column;
}

.left-tokens.greyman-page .text-left-tokens {
    font-size: 48px;
}

.text-left-tokens {
    font-size: 45px;
    margin-right: 6px;
}

.text-whole-tokens {
    font-size: 20px;
}

.progress-main svg {
    width: 240px;
    color: #AF6FD8;
}

.progress-grey svg {
    width: 230px;
    margin-top: 6px;
}

.left-tokens-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.title-progress-left {
    position: absolute;
    font-size: 36px;
    top: 72px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
}

.left-tokens-content .title-tokens {
    margin-bottom: 24px;
}

.left-tokens-content .btn-buy-metamask {
    margin-top: 0;
    display: flex;
    justify-content: flex-start !important;
}

.left-tokens-content .title-tokens h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.tokens-description {
    width: 650px;
    text-align: left;
    height: 224px;
}

.left-tokens.greyman-page .tokens-description {
    height: auto;
}

.tokens-description p {
    line-height: 28px;
    color: #A7A6A6;
    font: 20px;
    font-weight: 400;
}

.tokens-description p:first-child {
    margin-bottom: 30px;
}

.left-tokens-content .btn-buy-metamask {
    display: flex;
    justify-content: center;
}

.left-tokens-content .mailchimp {
    display: flex;
}

.left-tokens-content .mailchimp .email-box {
    margin-right: 19px;
}

.left-tokens-content .mailchimp .email-box input {
    width: 435px;
    height: 64px;
    background: #fff;
    border: 1px solid #211B32;
    border-radius: 16px;
    padding-left: 35px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #000;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.left-tokens-content .mailchimp .email-box input:focus {
    border: 1px solid #9867D9;
}

.left-tokens-content .mailchimp .signup_scroll {
    display: flex;
}

.left-tokens-content .mailchimp .email-box input::placeholder {
    color: #9013FE;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.left-tokens-content .mailchimp .btn-subscribe input {
    height: 64px;
    padding: 0 16px;
    background: linear-gradient(320.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .2s ease-in;
}

.left-tokens-content .mailchimp .btn-subscribe input:hover {
    transition: all .3s ease-in;
    background: #E882D5;
}


/* Special Offer Block */

.special-offer {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    margin-top: 120px;
}

.offer-desp {
    text-align: left;
    margin-right: 51px;
}

.offer-desp .btn-buy-metamask {
    display: flex;
    justify-content: center;
}

.offer-desp p {
    color: #A7A6A6;
    font: 20px;
    line-height: 28px;
    font-weight: 400;
}

.text-offer {
    width: 661px;
    margin-top: 24px;
}

.special-offer h3 {
    font-size: 40px;
}

.offer-fans {
    position: relative;
    z-index: 1;
}

.offer-fans .offer-1 {
    z-index: 10;
    position: absolute;
    top: -50px;
    width: 424px;
    height: 424px;
    border-radius: 16px;
    background: url('./images/image_1.png') no-repeat;
    background-size: cover;
}

.offer-fans .offer-2 {
    z-index: 2;
    position: absolute;
    top: -24px;
    right: -460px;
    width: 376px;
    height: 376px;
    border-radius: 16px;
    background: url('./images/image_2.png') no-repeat;
    background-size: cover;
    background-position: center top;
}

.offer-fans .offer-3 {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -490px;
    width: 328px;
    height: 328px;
    border-radius: 16px;
    background: url('./images/image_3.png') no-repeat;
    background-size: cover;
    background-position: center top;
}


/* Exclusive NFTs Block*/

.exclusive-nfts {
    display: flex;
    flex-direction: column;
    margin: 108px 0;
}

.title-nft {
    margin-bottom: 24px;
    text-align: left;
}

.title-nft h3 {
    font-size: 40px;
}

.nfts-select .main-nft {
    width: 589px;
    height: 589px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.wrapper-splash-page .greyman-page .main-nft {
    background-size: cover;
}

.btn-open-store {
    background: rgba(34, 32, 33, 0.8);
    /* filter: blur(8px); */
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.btn-open-store span {
    font-size: 24px;
}

.btn-open-store i {
    margin-left: 13px;
    color: #E882D5;
}

.nfts-select {
    display: flex;
}

.block-nfts .box-nft img {
    width: 283.49px;
    height: 283.49px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 16px;
}

.box-nft img:first-child {
    margin-right: 22px;
}

.box-nft:first-child {
    margin-bottom: 22px;
}

.block-nfts {
    margin-left: 22px;
}


/* Unlockble Video Block*/

.unlockble-video {
    margin-bottom: 108px;
}

.title-gets {
    text-align: left;
}

.title-gets h3 {
    font-size: 40px;
}

.block-videos {
    display: flex;
    flex-wrap: wrap;
}

.box-video {
    margin-top: 24px;
    margin-right: 16px;
}

.video-locked {
    display: flex;
    border-radius: 16px;
    width: 592px;
    background-color: #4E4D4DCC;
    overflow: hidden;
}

.video-icon {
    width: 32px;
    height: 32px;
    background: #E4476D;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-icon i {
    padding: 8px 1px 0 0;
}

.video-icon p {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.video-locked img {
    width: 230px;
    opacity: 0.4;
    height: 135px;
    filter: blur(3px);
}

.video-description {
    border-left: 4px solid #E4476D;
    display: flex;
    flex-direction: column;
    width: inher;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    position: relative;
    width: 100%;
}

.video-description .video-title {
    color: #fff;
    font-size: 18px;
}

.video-description .video-title p {
    margin-bottom: 0;
}

.video-description .video-timer p {
    color: #fff;
    font-size: 20px;
}

.video-key {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.video-key i {
    color: #E4476D;
    font-size: 20px;
    margin-right: 16px;
}


/* Splash Team Block*/

.splash-team {
    margin-bottom: 108px;
}

.title-team h3 {
    font-size: 40px;
    text-align: left;
}

.meet-team {
    margin-top: 24px;
}

.meet-team .box-teammate {
    display: flex;
}

.meet-team .box-teammate {
    margin-bottom: 24px;
}

.img-teammate img {
    border-radius: 16px;
    width: 384px;
    height: 384px;
    object-fit: cover;
}

.position-teammate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.position-teammate .teammate-description {
    max-width: 770px;
    margin-top: 16px;
    text-align: left;
}

.teammate-description p {
    color: #A7A6A6;
    font: 20px;
    line-height: 28px;
    font-weight: 400;
}

.position-teammate h4 {
    text-align: left;
    font-size: 24px;
}

.box-socials {
    display: flex;
}

.box-socials i {
    font-size: 30px;
}

.box-socials i:first-child {
    margin-right: 28px;
}


/* Join Community Block*/

.join-community {
    margin-bottom: 85px;
}

.join-community .title-join {
    text-align: left;
    margin-bottom: 24px;
}

.join-community .title-join h3 {
    font-size: 40px;
}

.community-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1204px;
    background-color: #383637;
    padding-left: 40px;
    border-radius: 16px;
    overflow: hidden;
}

.community-description .join-pic img {
    object-fit: cover;
    width: 415px;
    height: 329.50px;
    border-radius: 16px;
}

.community-description .community-text {
    width: 694px;
    text-align: left;
}

.community-description .community-text p {
    color: #A7A6A6;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(78, 77, 77, 0.8) !important;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 610px;
}

.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: default;
    font-size: 24px;
    color: #A7A6A6;
}

.form-group label::after {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    /* border: 2px solid #0079bf; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    background: #C4C4C4;
    width: 40px;
    height: 40px;
}

.form-group input:checked+label::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 18px;
    width: 11px;
    height: 28px;
    border: solid rgb(255, 0, 0);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
}

.modal-content-np {
    width: 587px;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.modal-text-wrapper {
    padding-bottom: 4rem;
}

.modal-text {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: justify;
    color: #A7A6A6;
    cursor: default;
}

.modal-btn {
    font-size: 20px;
    color: #fff;
    background: linear-gradient( 96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    width: 303px;
    height: 64px;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .modal-btn:disabled {
    color: blue;
    background: darkcyan;
} */

.modal-btn:hover {
    background: linear-gradient( 320.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%)
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal-btn-logo {
    transform: scale(0.6);
}


/* Media Pesponsive*/

@media screen and (max-width: 1488px) {
    .wrapper-splash-page {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .home-splash--page {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1430px) {
    .block-videos {
        justify-content: center;
    }
}

@media screen and (max-width: 1300px) {
    .wrapper-splash-page {
        align-items: center;
    }

    .home-splash--page {
        padding-left: 0px;
        align-items: center;
    }

    .information-author, .left-tokens, .special-offer, .exclusive-nfts, .unlockble-video, .splash-team {
        width: 1000px;
    }

    .information-author {
        background-size: 400px auto;
        background-position: 95% center;
    }

    .left-tokens .block-left-tokens {
        margin-right: 5%;
        background-size: contain;
        background-repeat: no-repeat;

        width: 400px;
        height: 450px;
    }

    .title-progress-left {
        top: 10px;
    }

    .left-tokens-content .tokens-description {
        width: 600px;
    }

    .left-tokens-content .mailchimp {
        margin-top: 40px;
    }

    .box-progress {
        margin-left: 58px;
        margin-top: 172px;
    }

    .special-offer .text-offer {
        width: 450px;
    }

    .nfts-select .main-nft {
        width: 465px;
        height: 465px;
        background-size: cover !important;
    }

    .nfts-select .block-nfts {
        margin-left: 40px;
    }

    .block-nfts .box-nft img {
        width: 220.49px;
        height: 220.49px;
    }
    

    .join-community {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-community .title-join {
        width: 90%;
        text-align: left;
    }

    .community-description {
        width: 90%;
    }

    .splash-team {
        margin-bottom: 0px;
    }
} 

@media screen and (max-width: 1100px) {
    .wrapper-splash-page {
        background-image: none;
    }
    .home-splash--page {
        padding-left: 20px;
    }

    .information-author, .left-tokens, .special-offer, .exclusive-nfts, .unlockble-video, .join-community {
        width: 900px;
    }

    .left-tokens-content .tokens-description {
        width: 500px;
    }

    .left-tokens-content .mailchimp .email-box input {
        width: 350px;
    }

    .left-tokens-content .mailchimp .email-box input::placeholder {
        font-size: 16px;
    }

    .nfts-select .main-nft {
        width: 425px;
        height: 425px;
        background-size: cover !important;
    }

    .nfts-select .block-nfts {
        margin-left: 22px;
    }

    .block-nfts .box-nft img {
        width: 200.49px;
        height: 200.49px;
    }

    .special-offer .text-offer {
        width: 380px;
    }

    /* .join-community .title-join {
        width: 1000px;
        text-align: left;
    } */

    .join-community .title-join {
        width: 900px;
    }

    .community-description {
        width: 900px;
    }

    .community-description .community-text p {
        font-size: 18px;
    }

    .splash-team {
        width: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .position-teammate .teammate-description {
        width: 400px;
    }
}

@media screen and (max-width: 950px) {
    .home-splash--page {
        display: none;
    }

    .home-splash-mobile {
        display: block;
    }

    .wrapper-splash-page {
        overflow-x: auto;
    }

    .row {
        --bs-gutter-x: 0;
    }
}


@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer ul {
        margin-top: 20px;
        padding-left: 0;
    }
}

/* Mobile version */
.home-splash-mobile {
    width: 100vw;
}

.wrapper-splash-mobile {
    background: #181717;
    overflow: hidden;
}

.splash-header-mobile {
    width: 100%;
    background: #000;
}

.splash-auth-mobile {
    background-image: url('./images/nipsey-bg-mobile.jpeg');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    position: relative;
}

.splash-auth-mobile:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 1;
  }

.splash-auth-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-auth-mobile .auth-mobile-title {
    z-index: 2;
}

.splash-auth-mobile .auth-mobile-title h3{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}

.splash-auth-mobile .auth-mobile-title h3 span {
    color: #A5A6F6;
    font-size: 50px;
}

.splash-auth-mobile .auth-mobile-desc {
    font-size: 22px;
    line-height: 32px;
    color: #A7A6A6;
}

.splash-minted-mobile .nft-minted-block {
    padding: 32px;
}

.splash-minted-mobile .minted-title h3{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

.splash-minted-mobile .minted-title h3 span {
    color: #5D5FEF;
}

.splash-minted-mobile .minted-title .minted-desc {
    font-size: 16px;
    color: #A7A6A6;
    line-height: 28px;
    margin-top: 20px;
}

.splash-minted-mobile .minted-title .minted-btn {
    margin: 40px 0;
}

.splash-minted-mobile .minted-title .minted-btn button {
    padding: 14px 22px;
    background: #5D5FEF;
    color: #fff;
    border-radius: 60px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    border: none;
}

.streaming-nft-block .nft-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.streaming-nft-block .nft-box img {
    width: 200px;
    height: 200px;
    margin-right: 32px;
}


.nft-box .nft-description h4{
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.nft-box .nft-description h4 span {
    color: #A5A6F6;
}

.nft-box .nft-description .nft-text {
    color: #A7A6A6;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.nft-box .nft-description .btn-claim button{
    background: none;
    border: none;
    color: #A5A6F6;
    margin-top: 8px;
    text-decoration: underline;
}

.members-video-mobile {
    padding: 56px 0;
    background: #000;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members-video-mobile .video-pic img {
    width: 454px;
    height: 426px;
}

.members-title-mobile h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.members-title-mobile h3 span {
    color: #5D5FEF;
}

.members-title-mobile .members-desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #A7A6A6;
    margin: 20px 0;
}

.members-video-mobile  .btn-learn-more button{
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.nft-score-mobile {
    background: #060606;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

.nft-score-mobile .score-num {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
}

.nft-score-mobile .stats {
    font-size: 13px;
    line-height: 28px;
    color: #A5A6F6;
}

.content-owners-mobile {
    background: #000;
    padding: 45px 16px;

   display: flex;
   align-items: center;
   justify-content: space-around;
}

.content-owners-mobile .owner-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-owners-mobile .owner-box:first-child {
}

.content-owners-mobile .owner-box .owner-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 135px;
}

.content-owners-mobile .owner-box:last-child .owner-img img {
    width: 214px;
    height: 31px;
}

.content-owners-mobile .owner-box .owner-title-mobile {
    margin: 8px 0;
}

.content-owners-mobile .owner-box .owner-title-mobile h5 {
    font-size: 22px;
    line-height: 25.2px;
    font-weight: 700;
}

.content-owners-mobile .owner-box .owner-desc {
    font-size: 11px;
    line-height: 17px;
    font-weight: 400;
    color: #A7A6A6;

    margin-bottom: 8px;
}

.content-owners-mobile .owner-box .owner-btn-learn button{
    font-size: 15px;
    color: #fff;
    background: none;
    border: none;
    text-decoration: underline;
}

.footer-nipsey-mobile {
    padding: 26px 16px;
    background: #000;
}

.footer-nipsey-mobile img{
    width: 100px;
    height: auto;
}

.footer-nipsey-mobile .nipsey-adress-mobile {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #A5A6F6;
    margin-top: 16px;
}

.social-media-nipsey {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.social-media-nipsey div {
    margin-right: 16px;
    transition: .2s all ease;
    cursor: pointer;
}

.social-media-nipsey div:last-child {
    margin-right: 0px;
}

.social-media-nipsey div:hover {
    background: #fff;
    color: #000;
}


@media screen and (max-width: 600px) {
    .content-owners-mobile .owner-box .owner-img {
        width: 200px;
    }

    .content-owners-mobile .owner-box .owner-img img, .content-owners-mobile .owner-box:last-child .owner-img img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .content-owners-mobile {
        flex-direction: column;
    }

    .members-video-mobile .video-pic img {
        width: 300px;
        height: auto;
    }

    .footer ul {
        flex-direction: column;

    }
    .footer ul li {
        margin: 0;
    }
} 
