@media screen and (max-width: 900px) {
  .wrapper-splash-page.ukraineglitch .nft-select-mobile img {
    width: auto;
    height: 350px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper-splash-page.ukraineglitch .nft-select-mobile img {
    width: auto;
    height: 250px;
    border-radius: 16px;
  }
}
