.buy-now-btn {
  width: 140px;
  height: 50px;
  border-radius: 16px;
  border: none;
  color: white;
  background-image: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.buy-now-btn:hover {
  transform: scale(0.95);
  box-shadow: 0 0 0 1px rgba(112, 102, 224, 0.5);
}
