:root {
  --box-size: 48px;
}

.like-button {
  color: #e882d5;
  font-size: 24px;
  line-height: var(--box-size);
  padding-top: 12px;
}

.list-button-wrapper-grid-template.favorite .like-button {
  color: #e882d5;
  font-size: 24px;
  line-height: var(--box-size);
  padding-top: 0;
}
