.footer-nav-item {
  list-style: none;
  padding-left: 0;
  margin-top: 1em;
}

.footer-nav-item li {
  line-height: 28px;
  color: #fff;
  margin-bottom: 0.5em;
}

.footer-nav-item li svg {
  margin-right: 0.5em;
}