@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'),
    url(./fonts/webfonts/PlusJakartaSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src: local('Plus Jakarta Sans Bold'),
    url(./fonts/webfonts/PlusJakartaSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Bazar';
  src: local('Bazar'), url(./fonts/Bazar.ttf) format('truetype');
}

@font-face {
  font-family: 'Charriot Deluxe';
  src: local('Charriot Deluxe'),
    url(./fonts/charriot_deluxe/CharriotDeluxe.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
