.col-1.rounded.burder-menu .btn-connect-wallet-wrapper {
    position: relative;
    top: 0;
    right: 0;
}

.col-1.rounded.burder-menu .burder-menu-logo img {
  width: 40px;
  height: auto;
}

.mobile-menu {
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.col-1.rounded.burder-menu .metamask-on-boarding{
  position: relative;
  right: 0;
  top: 0;
  border-radius: 16px;
  color: #fff;
}

.burger-menu-avatar {
  width: 50px;
  height: auto;
  border-radius: 16px;
}

.burger-menu-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit-mobileProfile {
  border-radius: 12px;
  margin: 10px 0;
  background: none;
  border: none;
  padding: 5px 10px;
  color: #fff;
  background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}

.block-avatar-profile {
  padding: 20px;
}

.block-avatar-profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
