.col-1.rounded.burder-menu .btn-connect-wallet-wrapper {
  position: relative;
  top: 0;
  right: 0;
}

.col-1.rounded.burder-menu .burder-menu-logo img {
  width: 40px;
  height: auto;
}

.burder-menu .social-media {
  display: flex;
}

.col-1.rounded.burder-menu .metamask-on-boarding {
  position: relative;
  right: 0;
  top: 0;
  border-radius: 16px;
  color: #fff;
}

.burger-menu-avatar {
  width: 50px;
  height: auto;
  border-radius: 16px;
}

.burger-menu-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit-mobileProfile {
  border-radius: 12px;
  margin: 10px 0;
  background: none;
  border: none;
  padding: 5px 10px;
  color: #fff;
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.block-avatar-profile {
  padding: 20px;
}

.block-avatar-profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

@media screen and (max-width: 800px) {
  .col-1.rounded.burder-menu .burder-menu-logo img {
    width: 30px;
    height: auto;
  }
}
