.hero {
}

.hero h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    -webkit-text-stroke: 1px white;
    margin-bottom: 3rem;
}


.hero .border-only {
    -webkit-text-stroke: 1.8px white;
    position: relative;
}


.hero .border-only .over {
    position: absolute;
    top: 1;
    right: 0;
    width: 100%;
    height: 100%;
    color: black;
    -webkit-text-stroke: initial;
    display: none;
}

@media (min-width: 768px) {
    .hero .border-only .over {
        display: initial;

    }
}
      

.description .description-header {
    line-height: 1.4;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .description .description-header {

        display: flex;
        justify-content: space-between;
    }
}

.description {
    margin-top: 12rem;
}

.description .description-header h2 {
    width: 400px;
    line-height: 1.3;
}

.description-header *:last-child {
    width: 550px;
}

.description-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 3rem;
    gap: 2.0rem;
}

.description-features p {
    line-height: 1.4;
}

.description-features svg {
    margin-right: 0.5rem;
}

.description-features h4 {
    color: white;
    font-size: 1.0rem;
    font-weight: 400;
}

