.nftDataPageShowMoreWrapper{
    box-sizing: content-box;
    letter-spacing: 1px;
    padding: 1px;
    border-radius: 16px;
    cursor: pointer;
    background-image: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}
.nftDataPageShowMoreWrapper:hover{
    background: #8C63DA;
}
.nftDataPageShowMore{
    /* background: #434343; */
    border-radius: 16px;
    padding-top: auto;
}
.nftDataPageShowMore:hover{
    background: #8d18916e;
}
.nftDataPageShowMoreText{
    text-align: center;
    display: inline-block;
    padding: 12.5px;
}