.card {
  width: 310px;
  height: 627px;
  padding: 15px;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  /* box-shadow: 15px 10px 25px 0px #3fa1a9; */
  box-shadow: 15px 10px 25px 0px #af6fd89e;
  background: #383637;
  /* background-image: url('../../../../images/binance-diamond.svg'), url('../../../../images/ethereum-logo.svg'); */
  background-repeat: no-repeat, no-repeat;
  background-position:
    120% -5%,
    200% -40%;
  background-size: 40%, 80%;
  animation: open 0.5s;
  position: absolute;
  top: 30px;
  right: -110px;
  z-index: 12;
}

@keyframes open {
  0% {
    background-position:
      166% -25%,
      220% -69%;
  }
  100% {
    background-position:
      120% -5%,
      200% -40%;
  }
}

.card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card button {
  position: relative;
  /* color: #054231; */
  color: #3e3e3e;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #f0b90a;
}

.card button:hover {
  left: 0;
  color: #fff;
  width: 180px;
  /* box-shadow: 0px 0px 20px 0px #63d3a6; */
  box-shadow: 0px 0px 20px 0px #f0b90a;
}

.card button:focus {
  outline: none;
}

.save {
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px #ffc107;
}

@media screen and (max-width: 1250px) and (min-width: 900px) {
  .card {
    right: -50px;
  }
}
