.unlockable-video {
  /* margin-bottom: 108px; */
  /* width: 100%; */
}

.title-gets {
  text-align: 'center';
}

.title-gets h3 {
  font-size: 32px !important;
}

.block-videos {
  justify-content: center;
  text-align: left;
}

.video-description {
  padding: 12px;
}

.video-description .video-timer p {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .video-locked {
    width: 90vw;
  }
  .box-video {
    margin-right: 0;
  }
}
