.VideoPlayerViewWrapper {
  max-width: 1600px;
  height: 446px;
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}

.ListOfVideosWrapper {
  padding: 10px;
  overflow: scroll;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Safari and Chrome */
.ListOfVideosWrapper::-webkit-scrollbar {
  display: none;
}

.previewWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.ListOfVideosOneVideo {
  width: 320px;
  height: 180px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid palevioletred; */
  padding: 15px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
  filter: contrast(0.6);
}

.ListOfVideosOneVideo:hover {
  filter: contrast(1);
}

.play {
  display: flex;
  flex-direction: column;
}

.playImagesOnListVideos {
  width: 40px;
  height: 40px;
}
.playImagesOnListVideos:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  word-break: break-all;
  overflow: auto;
  color: #fff;
}

.iconKey {
  background: white;
  padding: 6px;
  border-radius: 10px;
}
.SingleVideoWrapper {
  /* padding: 24px 209px 16px 249px; */
  margin: auto;
}
.SingleVideo {
  width: 40vw;
  height: 406px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  border-radius: 16px;
  /* background-repeat: no-repeat;
    background-size: contain; */
}
.playImagesOnSingleVideo {
  margin-top: 7rem;
}

.forSplashPageStyleOneVideo {
  /* width: 406px; */
  width: 34vw;
  height: 25.375rem;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.563rem 1rem;
}

.forSplashPageStyleWrapperVideo {
  width: 1200px;
  height: 446px;
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 850px) {
  .VideoPlayerViewWrapper {
    max-width: 1600px;
    height: auto;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column-reverse;
  }
  .ListOfVideosWrapper {
    padding: 10px;
    overflow: scroll;
    height: 394px;
  }
  .forSplashPageStyleOneVideo {
    /* width: 406px; */
    width: 41vw;
    height: 14.375rem;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0.563rem 1rem;
  }
  .playImagesOnSingleVideo {
    margin-top: 1.4vh;
    width: 20vw;
  }
}
@media screen and (max-width: 570px) {
  .playImagesOnSingleVideo {
    margin-top: 2.4vh;
    width: 20vw;
  }
}
