.select-box--container {
    height: 48px;
    /* border: 1px solid #aaa; */
    /* border-color: violet; */

    border-radius: 16px;
    width: 100%;
    /* margin: 0; */
    /* padding: 0; */
    /* background-color: darkblue; */
  }

.item-rank--container {
  border-radius: 16px;
  width: 100%;
  height: 48px;
}

  
  /* * {
    box-sizing: border-box;
  } */

  .item-rant--box {
    cursor: pointer;
    width: 289px;
    height: 48px;
    position: relative;
    /* left: 15px; */
    background-image: linear-gradient( 96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
    padding: 1px;
    box-sizing: content-box;
  }
  
  .select-box--box {
    cursor: pointer;
    width: 288px;
    height: 48px;
    position: relative;
    /* left: 15px; */
    background-image: linear-gradient( 96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
    padding: 1px;
    box-sizing: content-box;
  }
  
  .select-box--selected-item {
    display: flex;
    justify-content: center;
    position: relative;

    height: 100%;
    width: 100%;
    padding: 12px;
    vertical-align: middle;
  }
  .select-box--items{
      width: max-content;
      margin-top: 8px;
      background: #383637;
      border-radius: 16px;
  }

  .items-rank {
    width: 100%;
  }
  
  .select-box--items div {
      cursor: pointer;
      padding: 16px 12px;
  }
  .select-box--items div:first-child{
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
  }
  .select-box--items div:last-child{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .select-box--selected-item::before{
      /* content: '\1F511'; */
      color: pink;
      
  }
  
  .select-box--arrow {
    position: absolute;
    top:13px;
    right: 16px;
    color: #D37AD6;
  }
  
  /* .select-box--arrow-down {
    position: absolute;
    top: 15px;
    right: 10px;
    border-top: 10px solid #D37AD6;
      border-right: 10px solid #D37AD6;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      border-width: thin;
  }
  
  .select-box--arrow-up {
    position: absolute;
    top: 20px;
    right: 10px;
    border-top: 10px solid #D37AD6;
    border-right: 10px solid #D37AD6;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    border-width: thin;
  } */

  .selected{
      /* width: 100%;
      min-width:160px; */
  }

  .serial-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    /* height: 32px; */
    border-radius: 12px;
    margin: 6px;
    padding: 10px 5px;

  }

  .serial-box:hover{
    background-color: #AF6FD8;
  }

  .llll:hover{
    /* background-color: #AF6FD8 !important; */
    color: #fff;
    background-color: #D37AD6 !important;
  }

  .llll:disabled{
    color: black;
    background:#4e4d4d !important;
  }

.ntf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ntf-header .btn-share button {
  font-size: 20px;
  padding: 10px 53px;
  border-radius: 16px;
  background: none;
  /* color: #fff; */
  border: 1px solid #D37AD6;
  transition: .3s all ease;
}

.ntf-header .btn-share button:hover {
  background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}

.nft-collection {
  /* background-color: #383637; */
  border-radius: 16px;
  padding: 24px 0;
}

/* .custom-desc-to-offer {
  margin: 12px;
} */

.custom-offer-percents span{
  font-size: 20px;
}

.custom-desc-item {
  cursor: default;
  /* padding: 0.1rem 1rem;
  text-align: center; */
}
.custom-offer-percents{
  cursor: default;

}
.custom-desc-item span {
  font-size: 14px;
}

.main-tab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* padding: 2rem; */
  padding: 30px 0 58px 0;
  align-items: flex-end;
}

.collection-label-name {
  font-size: 16px;
  text-align: left;
  color: #A7A6A6;
  margin-bottom: 3px;
}
.nftDataPageTest-buy-btn:hover{
  background: linear-gradient(6.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%) !important;
}

.block-authenticity .authenticity-title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.table-authenticity {
  background: #383637;
  border-radius: 16px;
  padding-top: 10px;
  margin-top: 24px;

  font-size: 20px;
  font-weight: 700;
}

.table-authenticity .table-authenticity-title {
  text-align: left;
  padding: 0 24px;
}

.authenticity-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  transition: .2s all ease;
}

.authenticity-box:nth-child(2) {
  margin-top: 10px;
}

.authenticity-box .link-block {
  display: flex;
  align-items: baseline
}

.authenticity-box .link-block span {
  width: 48px;
  height: 48px;

  background: linear-gradient(0deg, #4E4D4D, #4E4D4D);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 16px;
}

.authenticity-box .block-arrow {
  color: #E882D5;

  width: 48px;
  height: 48px;
  background: linear-gradient(0deg, #4E4D4D, #4E4D4D);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenticity-box:nth-child(2):hover {
  background: #2D2B2C;
  cursor: pointer;
}

.authenticity-box:nth-child(3):hover {
  background: #2D2B2C;
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  cursor: pointer;
}
