.select-box--container {
    height: 48px;
    border-radius: 16px;
    width: 100%;
}

.item-rank--container {
    border-radius: 16px;
    width: 100%;
    height: 48px;
}

.item-rant--box {
    cursor: pointer;
    width: 289px;
    height: 48px;
    position: relative;
    background-image: linear-gradient( 96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
    padding: 1px;
    box-sizing: content-box;
}

.select-box--box {
    cursor: pointer;
    width: 288px;
    height: 48px;
    position: relative;
    background-image: linear-gradient( 96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
    padding: 1px;
    box-sizing: content-box;
}

.select-box--selected-item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 12px;
    vertical-align: middle;
}

.select-box--items {
    width: max-content;
    margin-top: 8px;
    background: #383637;
    border-radius: 16px;
}

.items-rank {
    width: 100%;
}

.select-box--items div {
    cursor: pointer;
    padding: 16px 12px;
}

.select-box--items div:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.select-box--items div:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.select-box--selected-item::before {
    color: pink;
}

.select-box--arrow {
    position: absolute;
    top: 13px;
    right: 16px;
    color: #D37AD6;
}

.serial-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 12px;
    margin: 6px;
    padding: 10px 5px;
}

.item-rank-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
}
.serial-box:hover {
    background-color: #AF6FD8;
}

.llll:hover {
    color: #fff;
    background-color: #D37AD6 !important;
}

.llll:disabled {
    color: black;
    background: #4e4d4d !important;
}

.ntf-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ntf-header .btn-share button {
    font-size: 20px;
    padding: 10px 53px;
    border-radius: 16px;
    background: none;
    border: 1px solid #D37AD6;
    transition: .3s all ease;
}

.ntf-header .btn-share button:hover {
    background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}

.nft-collection {
    border-radius: 16px;
    padding: 24px 0;
}

.custom-offer-percents span {
    font-size: 12px;
}

.custom-desc-item {
    cursor: default;
}

.rtl-overlow-elipsis {
    display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    direction: rtl;
    text-align: center;
}
.text-bold {
    font-weight: bold;
}

.custom-offer-percents {
    cursor: default;
}

.custom-desc-item span {
    font-size: 12px;
}

.main-tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 30px 0 58px 0;
    align-items: flex-end;
}

.collection-label-name {
    font-size: 16px;
    text-align: left;
    color: #A7A6A6;
    margin-bottom: 3px;
}

.pagination__wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination__page {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8C63DA;
    cursor: pointer;
    border-radius: 9px;
    margin-right: 8px;
    background: var(--stimorol);
    color: white;
}

.pagination__wrapper .pagination-white .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
    /* background: var(--stimorol); */
    color: #000;
}

.pagination__wrapper .pagination-black .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
    /* background: var(--stimorol); */
    color: #fff;
}

.pagination__wrapper .pagination-black .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: var(--stimorol-click);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
    box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
}

.pagination__wrapper .pagination-white .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: var(--stimorol-click);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
    box-shadow: 0px 0px 10px 2px rgba(0, 144, 255, 0.73);
}

.pagination__wrapper .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover, .pagination__wrapper .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root:hover{
    background: var(--stimorol-hover);
    color: #fff;
}

.pagination__wrapper .MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-rounded.MuiPaginationItem-ellipsis.css-1v2lvtn-MuiPaginationItem-root {
    color: white;
    font-size: 20px;
}

.pagination__page:hover {
    background: var(--stimorol-hover);
    transition: all .4s ease;
}

.pagination__page:active {
    background: var(--stimorol-click);
    border: 1px solid #E882D5;
}

.pagination__page__current {
    border: 1px solid #E882D5;
    background: var(--stimorol-hover);
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 144, 255, 0.73);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 144, 255, 0.73);
    box-shadow: 0px 0px 20px 4px rgba(0, 144, 255, 0.73);
}
.nftDataPageTest-buy-btn:hover{
  background: linear-gradient(6.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%) !important;
}

.nft-btn-sell{
    width: 228px;
    height: 48px;
    border: none;
    border-radius: 16px;
    background-image: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}

.nft-btn-stimorol {
    width: 291px;
    font-size: 12px;
    height: 48px;
    border: none;
    background-image: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    border-radius: 16px;
}

@media screen and (max-width: 700px) {
  .pagination__wrapper {
    width: 100%;
    justify-content: center;
    margin-left:5vw;
    overflow-x: hidden;
  }
}
    
@media screen and (max-width: 700px) {
    .pagination__wrapper {
      width: 45%;
      justify-content: flex-start;
      margin-left: 27vw;
      overflow-x: hidden;
    }
}

@media screen and (max-width: 653px) {
    .main-tab {
        justify-content: center;
        align-items: center;
    }

    .nft-single-price-range, .item-rant--box, .nft-btn-price-owner, .nft-btn-stimorol {
        width: 80vw;
    }
}

@media screen and (max-width: 500px) {
    .nft-collection {
        padding: 5px 15px;
    }

    .nft-data-page-wrapper .col-12.row.mx-0.box--properties .col-4.my-2.p-1.custom-desc-to-offer {
        width: 100% !important;
    }
}

@media screen and (max-width: 440px) {
    .authenticity-box {
        font-size: 16px;
    }

    .authenticity-box .block-arrow, .authenticity-box .link-block span {
        width: 35px;
        height: 35px;
    }
}
