.wrapper-notification {
  width: 100%;
}

.wrapper-notification .box-notification {
  background: #383637;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  border-radius: 16px;
  align-items: center;
  margin-bottom: 8px;

  transition: all 0.3s ease;
}

.wrapper-notification.rhyno .box-notification {
  background: #fff;
  color: #000;
}

.wrapper-notification.rhyno .box-notification:hover {
  background-color: #a9a9a9;
}

.wrapper-notification .box-notification:hover {
  background-color: #4e4e4e;
}

.wrapper-notification .notification-left {
  display: flex;
  align-items: center;
}

.wrapper-notification .notification-right {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper-notification .notification-right .time-notification {
  margin: auto;
}

.wrapper-notification .notification-right .icon-remove {
  padding: 14px 16px;
  margin-left: 75px;
  border: 1px solid #f63419;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper-notification .notification-right .icon-remove:hover {
  background-color: #f63419;
}

.wrapper-notification .notification-right .icon-remove img {
  width: 16px;
  height: auto;
}

.wrapper-notification .notification-img img {
  width: 22px;
  height: auto;
  object-fit: contain;
}

.notification-main-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #fff;
  margin-bottom: 12px;
}

.wrapper-notification .text-notification {
  text-align: left;
}

.notification-viewed {
  margin-top: 32px;
}

.notification-viewed .dot-notification {
  background: #a7a6a6;
}

.wrapper-notification .text-notification .title-notif {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.wrapper-notification .text-notification .text-notif {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .wrapper-notification {
    height: 50vh;
  }

  .notification-from-rair {
    padding: 0;
  }

  .wrapper-notification .notification-left {
    flex-direction: column;
  }

  .title-notif {
    margin-top: 10px;
  }
}
