/* body{
    font-family: 'Hind Guntur', sans-serif;
    color: #054231;
    display: flex;
    justify-content: center;
    background: #49afa8;
    background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
    background-repeat: no-repeat, no-repeat;
    background-position:  200% -40%;
    background-size: 80%;
  } */

/* .card{
    width: 310px;
    height: 627px;
    padding: 15px;
    margin-top: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 15px 10px 25px 0px  #3fa1a9;
    background: #fff;
    background-image: url('./assets/leaf2.png'), url('./assets/leaf2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -5%, 200% -40%;
    background-size: 40%, 80%;
    animation: open .5s;
    z-index: 1;
  } */

/* @keyframes open {
    0%  {background-position: 166% -25%, 220% -69%;}
    100%{background-position: 120% -5%, 200% -40%;}
  } */

/* .card form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .field{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

  .customFileUpload input[type="file"] {
    display: none;
  }
  
  .customFileUpload {
    height: 212px;
    width: 212px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    margin-bottom: 25px;
  }
  
  .imgWrap{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .imgUpload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 51px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }
  .imgUpload:hover:before{
   opacity: 1;
  }
  .imgWrap img {
    width: auto;
    height: 100%;
  }
  
  .field label{
    text-transform: uppercase;
    font-weight: 700;
    color: #676767;
  }
  
  .field input, 
  .customFileUpload input{
    border-radius: 15px;
    border: 1px solid #b7b7b7;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    transition: 0.2s;
  }
  .field input:focus,
  .customFileUpload input:focus{
    outline: none;
    border: 1px solid #64d488;
  }
  .field input::placeholder,
  .customFileUpload input::placeholder{
    color: #bebebe;
  }
  .name{ 
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #676767;
    max-width: 220px;
    overflow-wrap: break-word;
  }
  .status{
    text-align: center;
    max-width: 220px;
    overflow-wrap: break-word;
  }
  .card button{
    position: relative;
    color: #054231;
    letter-spacing: 1px;
    margin: 20px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: #64d488;
  }
  .save{
    font-weight: 600;
    left: -20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 20px;
    box-shadow: 20px 0px 40px 0px  #63d3a6;
  }
  .edit{
    color: #fff;
    width: 180px;
  }
  .card button:hover{
    left: 0;
    color: #fff;
    width: 180px;
    box-shadow: 0px 0px 20px 0px  #63d3a6;
  }
  .card button:focus{
    outline: none;
  } */

/* .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  } */