/* Carousel Styles*/

.carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7vw 0;
    align-items: center;
}

.carousel-container .carousel-title{
    margin-bottom: 4vw;
    text-align: left;
    font-weight: 500;
    font-size: 4vw;
}

.carousel-container .carousel-items{
    margin-bottom: 1vw;
    font-weight: 700;
    font-size: 2.5vw;
}

.carousel-container .carousel-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: baseline;
}

.carousel-container .carousel{
    width: 80%
}



.carousel-container .join-pic-img{
    width: 21vw;
    height: 21vw;
    border-radius: 16px;
}


/* Media */



@media screen and (max-width: 1100px) {
    .carousel-container .carousel-title{
        text-align: center;
    }

    .carousel-container .join-pic-img{
        width: 19vw;
        height: 19vw;
    }
}


@media screen and (max-width: 750px) {

    .carousel-container .join-pic-img{
        width: 35vw;
        height: 35vw;
    }

    .carousel-container .carousel-items{
        font-size: 3.5vw;
    }

    .carousel-container .carousel-title{
        font-size: 5vw;
    }
}


