/* this style sheet is for overriding global styles for reused components */
.rairpage-videoplayer-wrapper {
  width: 1200px;
  height: 475px;
  margin-left: calc(110px - var(--left_offset));
  margin-top: 55px;
}

.rairpage-videoplayer-wrapper .nft-collection {
  position: relative;
  border-radius: 16px;
  width: 85vw;
  max-width: 1200px;
}

.rairpage.about-page--team {
  margin-left: calc(115px - var(--left_offset));
  margin-top: 0;
}

.rairpage.about-page--team.zero {
  margin-top: 315px;
}

.rairpage.about-page--team .img-teammate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rairpage.about-page--team .img-teammate img {
  border-radius: 16px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.rairpage.about-page--team .title-team h3 {
  font-size: 36px;
  font-weight: 700;
}

.rairpage.about-page--team .title-team h3 .text-gradient {
  font-size: 36px;
  font-weight: 700;
}

.rairpage.about-page--team .position-teammate h4 {
  font-size: 32px;
}

.rairpage.about-page--team .teammate-description div {
  font-size: 22px;
}

@media screen and (max-width: 1440px) {
  .rairpage-videoplayer-wrapper {
    width: 83.333vw;
    height: 33vw;
    margin-left: calc(7.634vw - var(--left_offset));
    margin-top: 3.8168vw;
  }

  .rairpage-videoplayer-wrapper .nft-collection.nft-collection-video-wrapper {
    height: 32.986vw;
  }

  .rairpage-videoplayer-wrapper .unlockables-video-player-container {
    height: 29.722vw;
  }

  .rairpage-videoplayer-wrapper .nft-video-player-video {
    height: 29.653vw;
  }

  .rairpage.about-page--team {
    margin-left: calc(7.981vw - var(--left_offset));
  }

  .rairpage.about-page--team.zero {
    margin-top: 21.86vw;
  }

  .rairpage.about-page--team .img-teammate img {
    width: 13.889vw;
    height: 13.889vw;
  }

  .rairpage.about-page--team .title-team h3 {
    font-size: 2.5vw;
  }

  .rairpage.about-page--team .title-team h3 .text-gradient {
    font-size: 2.5vw;
  }

  .rairpage.about-page--team .position-teammate h4 {
    font-size: 2.222vw;
  }

  .rairpage.about-page--team .teammate-description div {
    font-size: 1.528vw;
    line-height: 1.944vw;
  }
}

@media screen and (max-width: 970px) {
  .rairpage.about-page--team {
    margin: 0 auto;
  }
}

@media screen and (max-width: 844px) {
  .rairpage-videoplayer-wrapper {
    height: 38vw;
  }

  .rairpage-videoplayer-wrapper .nft-collection.nft-collection-video-wrapper {
    height: inherit;
  }

  .rairpage-videoplayer-wrapper .unlockables-video-player-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }

  .rairpage-videoplayer-wrapper .nft-video-player-video {
    height: 20.833vw;
  }
}

@media screen and (max-width: 700px) {
  .rairpage-videoplayer-wrapper .nft-collection {
    width: 100%;
  }

  .rairpage-videoplayer-wrapper {
    margin: 0;
    width: 100vw;
    height: 61.286vw;
  }

  .rairpage.about-page--team .img-teammate img {
    width: 28.571vw;
    height: 28.571vw;
  }

  .rairpage.about-page--team .title-team h3 {
    font-size: 5.143vw;
  }

  .rairpage.about-page--team .title-team h3 .text-gradient {
    font-size: 5.143vw;
  }

  .rairpage.about-page--team .position-teammate h4 {
    font-size: 4.571vw;
  }

  .rairpage.about-page--team .teammate-description div {
    font-size: 3.143vw;
    line-height: 4vw;
  }
}
