
.home {
    --custom-gradient: linear-gradient(90deg, #063CA9 0%, #0052FF 100%);
    font-size: 14px;
    background:
    url(../../images/hero-bg-1.png),
        url(../../images/hero-bg-2.png),
        url(../../images/hero-bg-3.png),
        url(../../images/hero-bg-3.png);
    background-size:300px, 300px, 810px, 810px; 
    background-position: -10% 500px, 105% 0%, -10% 315px, 128% 220px;
    background-repeat: no-repeat;
}

.home h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

.home h4 {
    color: white;
    font-size: 1.0rem;
    font-weight: 400;
}

.home p {
    font-size: 1em;
}



.home .wide-banner {
    background-image: var(--custom-gradient);
    margin-top: 6rem;
    padding-inline: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 0.9rem;
    /* background-color: var(--primary-color); */
    padding-block: 3rem;
    top: 0;
    left: 0;
}

.wide-banner h2 {
    font-weight: 400;
}

.home-section {
    max-width: 1200px;
    padding-inline: 1rem;
    margin-inline: auto;
}

.subscription-plans {
    margin-top: 160px;
}

.plans-header {
    text-align: center;
    margin-bottom: 3.0rem;
}

.subscription-plans .plans-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    margin: auto;
    margin-top: 2rem;
    max-width: 920px;
}

.plan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-plans .plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3.5rem;
    width: 100%;
    min-height: 380px;
    border-radius: 16px;
    background-color: rgba(255,255,255, 0.1); 
    border: 1px solid rgba(255,255,255, 0.25);
}

.plan-card-footer {
    margin-top: 2rem;
    width: 100%;
}

.subscription-plans .plan-price {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subscription-plans .plan-features {
    list-style: circle;
    list-style-type: circle;
    font-size: 0.85rem;
}

.individual-therapy-section {
    margin-top: 100px;
}

.individual-therapy-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto; 
    gap: 4rem;
    padding: 10px;
}

.individual-therapy-container > * {
    margin: auto;

}

@media (min-width: 768px) {
    .individual-therapy-container {
        grid-template-columns: 6fr 5fr;
    }
}

.individual-therapy-container .individual-therapy-features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
}

.individual-therapy-container .individual-therapy-feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    align-items: center;
    gap: 2rem;
    margin-block: 0.5rem;
}

.individual-therapy-container .individual-therapy-feature p {
    flex-grow: 1;
}

.workshops-section {
    margin-top: 100px;
}


.workshops-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: 4rem;
}

.workshops-container > * {
    margin: auto;
}

@media (min-width: 1200px) {
    .workshops-container {
        grid-template-columns: 5fr 6fr;
        display: grid;
        margin-top: 2rem;
    }
}

.workshops-container .workshops-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}

.workshops-container .step-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0.8rem;
    gap: 1.2rem;
}

.badge-container {
    position: relative;
}

.workshops-container .badge-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-25%);
    width: 40%;
    height: 100%;
    background: url('../../images/bottom-arrow.svg') no-repeat;
    background-size: 15px;
}
@media (min-width: 1200px) {
    .workshops-container .step-item {
        flex-direction: row;
        /* justify-content: end; */
    }
    
}

.workshops-container .step-item .step-number {
    font-size: 2rem;
}

.workshops-container .step-item p {
    max-width: 460px;
}

.q-a-section {
    font-size: 1.3em;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-a-section .q-a-container {
    max-width: 800px;
    border-radius: 20px;
    border-width: 7px;
    border: 1px solid rgba(255,255,255, 0.35);
    background-color: rgba(255, 255, 255, 0.1); 
    padding-inline: 2rem;
    padding-block: 1.5rem;
    margin-top: 3.0rem;
}

.q-a-section .q-a-container details:first-child summary {
    padding-top: 0.5em;
}
.q-a-section .q-a-container details {
    /* color: white; */
    border-bottom: 1px solid rgba(255,255,255, 0.35);
}

.q-a-section .q-a-container summary {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5em;
    padding-block: 1.5em;
}

.q-a-section .q-a-container details[open] summary {
    content: '- ';
    margin-bottom: 0.5em;
}

.q-a-section .q-a-container summary::after {
    font-size: 1.2em;
    content: '+';
}

.q-a-section .q-a-container details[open] summary::after {
    content: '- ';
}