.title-collection-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.title-collection-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.container-title-collection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-title-collection .block-title-share {
  text-align: left;
}

.container-title-collection .block-title-share h2 {
  font-size: 40px;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 18px;
}

.block-title-purple {
  color: #5b49af;
}

.block-user-creator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block-user-creator h5 {
  word-break: break-all;
}

.container-title-collection .block-user-creator img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 0 12px;
  object-fit: cover;
}

.container-title-collection .block-user-creator span {
  font-size: 14px;
  font-weight: 700;
}

.container-title-collection .block-user-creator h5 {
  margin-bottom: 0;
  font-size: 16px;
}

.block-collection-desc {
  display: flex;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: start;
  word-break: break-all;
  width: 85vw;
}

.etherscan-icon:hover {
  background: var(--stimorol);
  border-radius: 16px;
}

.etherscan-icon-token-dark {
  background: #4e4d4d;
  border-radius: 16px;
  margin-bottom: 17px;
}

.etherscan-icon-token-dark:hover {
  background: var(--stimorol);
}

.etherscan-icon-token-light {
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 17px;
}

.etherscan-icon-token-light:hover {
  background: var(--stimorol);
  transition: all 0.2s ease;
}

.etherscan-collection-icon {
  width: 48px;
  height: 48px;
}

.collection-authenticity-link-share {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.tokens-share {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.authenticity-link-icon {
  margin-left: 16px;
}

.collection-btn-more button {
  font-size: 20px;
  padding: 10px 53px;
  border-radius: 16px;
  background: none;
  border: 1px solid #d37ad6;
  transition: 0.3s all ease;
  color: #fff;
}

.collection-btn-more button:hover {
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

/* @media screen and (max-width: 1000px) {
  .container-title-collection {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .container-title-collection .block-title-share {
    flex-direction: column;
    align-items: flex-start;
  }

  .container-title-collection .block-title-share .block-btn-share {
    margin: 10px;
  }
}

@media screen and (max-width: 720px) {
  .container-title-collection .block-title-share {
    align-items: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .container-title-collection .block-title-share button.block-btn-share {
    font-size: 16px;
  }

  .container-title-collection .block-title-share h2 {
    font-size: 32px;
  }
} */

/* @media screen and (max-width: 550px) {
  .container-title-collection .block-user-creator {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-title-collection .block-user-creator h5 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 440px) {
  .container-title-collection .block-user-creator h5 {
    width: 100%;
  }

  .container-title-collection .block-title-share button.block-btn-share {
    margin: 10px 0;
  }
} */
