.block-authenticity {
    width: 100%;
}

.block-authenticity .table-authenticity {
    max-width: 1600px;
    overflow: hidden;
}

.nftDataPageTest-a-hover {
    display: flex;
    width: 100%;
    justify-content: space-between;
}