.main {
  width: 100%;
  font-size: large;
  padding: 1rem 7rem;
  text-align: start;
}
.main strong {
  font-size: x-large;
}
.main div {
  padding-bottom: 30px;
}
.main h1 {
  padding-bottom: 20px;
}
.main div h3 {
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 0.5rem 1rem;
  }
}
