.collection-btn-more {
    margin: 0 auto;
}

#nft-data-page-wrapper .single-token-block-img {
    margin: auto;
    width: 604px;
    height: 45rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#nft-data-page-wrapper .single-token-block-video {
    width: 600px;
    height: 600px;
    margin: auto;
}

#nft-data-page-wrapper .nft-data-content {
    max-width: 1600px;
    margin: auto;
    border-radius: 16px;
    padding: 24px 0;
}

.nft-collection {
    padding: 0 10px;
}

.nft-single-price-range {
    border-radius: 16px;
    padding: 10px;
    width: 288px;
    height: 48px;
    border: 1px solid #D37AD6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-form-control-icon {
    display: flex;
}

.container-search {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 6vw;
}

.container-search .form-control.input-styled {
    width: 54.5%;
    margin-bottom: 32px;
}

.nftlist-unlockable-videos {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}

.nftlist-unlockable-videos .nft-unlockable-videoItem {
    cursor: pointer;
    display: flex;
    border-radius: 16px;
    min-width: 540px;
}

.nftlist-unlockable-videos .nft-unlockable-videoItem img {
    width: 230px;
    opacity: 0.4;
    height: 135px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.nft-unlockable-videoItem .nft-unlockable-contentItem p {
    font-size: 20px;
}

.nft-unlockable-videoItem .nft-unlockable-imgContent {
    width: 32px;
    height: 32px;
    background: #CCA541;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 1;
}

@media screen and (max-width: 1230px) {
    .nftlist-unlockable-videos {
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {

    .wrapper-collection,
    #nft-data-page-wrapper {
        padding: 0 10px;
    }
}

@media screen and (max-width: 900px) {
    .nftlist-unlockable-videos .nft-unlockable-videoItem {
        cursor: pointer;
        display: flex;
        border-radius: 16px;
        min-width: 80vw;
    }
}

@media screen and (max-width: 767px) {
    #nft-data-page-wrapper .single-token-block-img {
        width: 100%;
        height: 400px;
    }

    #nft-data-page-wrapper .single-token-block-video {
        width: 400px;
        height: auto;
    }

    .nft-collection .react-player__preview {
        width: 100% !important;
        height: 400px !important;
    }

    #nft-data-page-wrapper .nft-data-content {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 700px) {
    .container-search {
        flex-direction: column;
    }

    .container-search .form-control.input-styled {
        width: 100%;
        margin-bottom: 8px;
    }

    .nft-form-control-icon {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .nft-unlockable-videoItem .nft-unlockable-contentItem p {
        font-size: 16px;
    }
    
    .nft-unlockable-videoItem .nft-unlockable-imgContent p {
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {
    .nftlist-unlockable-videos .nft-unlockable-videoItem img {
        height: 100px;
        width: 35vw;
    }

    .nft-unlockable-videoItem .nft-unlockable-contentItem p {
        font-size: 14px;
    }
    
    .nft-unlockable-videoItem .nft-unlockable-imgContent p {
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    #nft-data-page-wrapper .single-token-block-video {
        width: 100%;
        height: 400px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nft-collection .react-player__preview {
        width: 100% !important;
        height: 250px !important;
    }
}