/* modal */

.video-window-error {
  color: white;
  padding: 2vw;
  text-align: center;
  font-size: calc(24px + 0.5vw);
}

.video-player {
  width: 95vh;
}

/* splash page */

.video-module-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* margin-bottom: 8vw; */
  max-width: 100%;
}

.video-module-title {
  margin-bottom: calc(24px + 1vw);
  font-weight: 500;
  font-size: calc(32px + 0.5vw);
  width: 100%;
  text-align: center;
}

.video-module {
  width: 50vw;
  height: 30vw;
}

.video-module-background {
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.video-module-play-button-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-module-play-button img {
  height: 40%;
  width: auto;
}

.video-module-desc-wrapper {
  margin-top: 28px;
  max-width: 75%;
}

.video-module-desc {
  line-height: 28px;
  font-weight: 400;
  font-size: 24px;
}

/* Media Responsive*/

@media screen and (max-width: 1100px) {
  .video-module-title {
    text-align: center;
  }
  /* .video-module-wrapper {
        margin-bottom: 10vw;
    } */
}

@media screen and (max-width: 900px) {
  /* .video-module-wrapper {
        margin-bottom: 13vw;
    } */
}

@media screen and (min-width: 570px) and (max-width: 900px) {
  .video-module {
    width: 384px;
    height: 384px;
  }
}

@media screen and (max-width: 430px) {
  /* .video-module-wrapper {
        margin-bottom: 18vw;
    } */
}
