{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true, 
  "arrowParens": "always",
  "endOfLine": "auto"
}