.not-found-page {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.not-found-page h3{
    font-size: 40px;
    margin: 20px 0;
}

.not-found-page h3 span {
    font-size: 100px;
    background: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 45px;
    font-weight: 700;
}

.not-found-page .go-back {
    font-size: 24px;
    color: #805FDA;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .not-found-page h3 {
        font-size: 25px;
    }

    .not-found-page h3 span {
        font-size: 70px;
    }

    .not-found-page p {
        padding: 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .not-found-page {
        margin: 30px 0;
    }
}
