@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Montserrat:wght@100;200;400;500;700;900&display=swap');

@import './styles/userProfile.css';

:root {
  --bubblegum: #e882d5;
  --bubblegum-hover: #bd6bae;
  --bubblegum-click: #925486;
  --royal-purple: #725bdb;
  --royal-purple-hover: #5b49af;
  --royal-purple-click: #443783;
  --arctic-blue: #19a7f6;
  --arctic-blue-hover: #1486c5;
  --arctic-blue-click: #0f6494;
  --charcoal: #222021;
  --charcoal-90: #383637;
  --charcoal-80: #4e4d4d;
  --charcoal-60: #7a797a;
  --charcoal-40: #a7a6a6;
  --charcoal-20: #d3d2d3;
  --charcoal-transparent: #222021aa;
  --rhyno: #dedede;
  --rhyno-80: #e5e5e5;
  --rhyno-60: #ebebeb;
  --rhyno-40: #f2f2f2;
  --rhyno-20: #f8f8f8;
  --rhyno-transparent: #dededeaa;
  --yellow-alert: #eeb600;
  --royal-ice: linear-gradient(
    to right,
    var(--arctic-blue),
    var(--royal-purple)
  );
  --royal-ice-hover: linear-gradient(
    to right,
    var(--arctic-blue-hover),
    var(--royal-purple-hover)
  );
  --royal-ice-click: linear-gradient(
    to right,
    var(--arctic-blue-click),
    var(--royal-purple-click)
  );
  --stimorol: linear-gradient(to right, var(--royal-purple), var(--bubblegum));
  --stimorol-hover: linear-gradient(
    to right,
    var(--royal-purple-hover),
    var(--bubblegum-hover)
  );
  --stimorol-click: linear-gradient(
    to right,
    var(--royal-purple-click),
    var(--bubblegum-click)
  );
  --hot-drops: #f95631;
  --hot-drops-orange: #ff8200;
  --hot-drops-light: #ff6300;
  --hot-drops-dark: #ff3f14;
  --hot-drops-gradient: linear-gradient(
    to right,
    var(--hot-drops),
    var(--hot-drops-light)
  );
  --hot-drops-hover: linear-gradient(
    to right,
    var(--hot-drops),
    var(--hot-drops-orange)
  );
  --hot-drops-click: linear-gradient(
    to right,
    var(--hot-drops),
    var(--hot-drops-dark)
  );
  --hot-drops-thrird: linear-gradient(
    to right,
    var(--hot-drops),
    var(--hot-drops-light),
    var(--hot-drops-orange)
  );
}

.rair-button:hover {
  filter: brightness(110%);
}
.rair-button:active {
  filter: brightness(120%);
}
.rair-button:active {
  filter: brightness(80%);
}

body {
  font-family: 'Plus Jakarta Text' !important;
}

body.hotdrops {
  font-family: 'Montserrat', sans-serif !important;
}

.rair-abbr {
  position: relative;
}

.rair-abbr::after {
  min-width: 120px;
  display: block;
  padding: 5px;
  color: var(--rhyno);
  background-color: var(--charcoal-60);
  border-radius: 10px !important;
  content: attr(id);
  position: relative;
  left: -50px;
  top: 10px;
  font-size: 12px;
}
/* 
.rair-abbr:hover::after {
    position: absolute;
    width: 15vw;
    bottom: 100%;
    display: block;
    padding: 1em;
    color: var(--rhyno);
    background-color: var(--charcoal-80);
    border-radius: 16px!important;
    content: attr(steplabel);
} */

.rair-table thead {
  white-space: nowrap;
  table-layout: auto;
  border-bottom: solid 1px var(--charcoal-80);
}

.rair-table th {
  white-space: nowrap;
  table-layout: auto;
  padding: 0.8rem;
  border-right: dashed 1px var(--charcoal-80);
}

.rounded-rair {
  border-radius: 16px !important;
}

.border-stimorol {
  background: var(--stimorol);
  display: inline-block;
  padding: 1px !important;
}

input.stimorol-radio[type='radio'] {
  margin-right: 15px;
}

input.stimorol-radio[type='radio']:after {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -4px;
  left: -1px;
  padding-left: 4px;
  position: relative;
  color: var(--rhyno);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid;
}

input.stimorol-radio.bg-rhyno[type='radio']:after {
  background-color: var(--rhyno);
  border-color: var(--charcoal-40);
}

input.stimorol-radio.bg-charcoal[type='radio']:after {
  background-color: var(--charcoal);
  border-color: var(--rhyno-40);
}

input.stimorol-radio[type='radio']:checked:after {
  background-color: var(--bubblegum);
  content: '\2713';
}

.bg-blockchain {
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  background-position: top right;
  background-blend-mode: overlay;
}

.App {
  text-align: center;
}

body.no-scroll {
  overflow: hidden !important;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

.App.rhyno a {
  color: #000;
}

.App.charcoal a {
  color: #fff;
}

a:focus,
a:hover {
  color: inherit;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-modal-down-text {
  font-size: 16px;
}

.login-modal-down-text div:first-child {
  margin: 20px 0;
}

.login-modal-down-text div:last-child {
  font-style: italic;
}

/* .main-block-app {
  margin-top: 40px;
} */

.hotdrops-color {
  color: var(--hot-drops) !important;
}

.hotdrops-bg {
  background: var(--hot-drops-gradient) !important;
}

.hotdrops-bg:hover {
  background: var(--hot-drops-hover) !important;
}

.hotdrops-hover:hover {
  border: 1px solid var(--hot-drops) !important;
}

button:disabled.hotdrops-bg {
  background: var(--hot-drops-click) !important;
}

.hotdrops-border {
  border: 1px solid var(--hot-drops) !important;
}

.hotdrops-border:hover {
  border: 1px solid var(--hot-drops) !important;
  background: var(--hot-drops-click) !important;
  border-radius: 16px !important;
}

.general-title {
  text-align: left;
}

.row.w-100.main-content {
  padding-bottom: 200px !important;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.col-1.hidden-block {
  width: 5%;
}

.title {
  font-size: larger;
  background: var(--stimorol);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active-rhyno {
  color: black;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--rhyno-80);
  border-color: var(--rhyno-60);
}

.btn-rhyno {
  color: black;
  background-color: var(--rhyno);
  border-color: var(--charcoal-40);
}

.btn-rhyno:hover {
  color: black;
  background-color: var(--rhyno-80);
  border-color: var(--rhyno-60);
}

.btn-check:focus + .btn-rhyno,
.btn-rhyno:focus {
  color: black;
  background-color: var(--rhyno-80);
  border-color: var(--rhyno-60);
  box-shadow: 0 0 0 0.25rem var(--rhyno-20);
}

.btn-check:active + .btn-rhyno,
.btn-check:checked + .btn-rhyno,
.btn-rhyno.active,
.btn-rhyno:active,
.show > .btn-rhyno.dropdown-toggle {
  color: black;
  background-color: var(--rhyno-60);
  border-color: var(--rhyno-40);
}

.btn-check:active + .btn-rhyno:focus,
.btn-check:checked + .btn-rhyno:focus,
.btn-rhyno.active:focus,
.btn-rhyno:active:focus,
.show > .btn-rhyno.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--rhyno-20);
}

.btn-rhyno.disabled,
.btn-rhyno:disabled {
  color: black;
  background-color: var(--rhyno);
  border-color: var(--rhyno);
}

.active-charcoal {
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--charcoal-80);
  border-color: var(--charcoal-60);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.btn-charcoal {
  color: white !important;
  background-color: var(--charcoal) !important;
  border-color: var(--charcoal-60) !important;
}

.btn-charcoal:hover {
  color: white;
  background-color: var(--charcoal-80);
  border-color: var(--charcoal-60);
}

.btn-check:focus + .btn-charcoal,
.btn-charcoal:focus {
  color: white;
  background-color: var(--charcoal-80);
  border-color: var(--charcoal-60);
  box-shadow: 0 0 0 0.25rem var(--charcoal-20);
}

.btn-check:active + .btn-charcoal,
.btn-check:checked + .btn-charcoal,
.btn-charcoal.active,
.btn-charcoal:active,
.show > .btn-charcoal.dropdown-toggle {
  color: white;
  background-color: var(--charcoal-60);
  border-color: var(--charcoal-40);
}

.btn-check:active + .btn-charcoal:focus,
.btn-check:checked + .btn-charcoal:focus,
.btn-charcoal.active:focus,
.btn-charcoal:active:focus,
.show > .btn-charcoal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--charcoal-20);
}

.btn-charcoal.disabled,
.btn-charcoal:disabled {
  color: white;
  background-color: var(--charcoal);
  border-color: var(--charcoal);
}

.bg-rhyno {
  background-color: var(--rhyno-40) !important;
}

.bg-charcoal {
  background-color: var(--charcoal) !important;
}

.text-charcoal {
  color: var(--charcoal) !important;
}

.text-charcoal-50 {
  color: #22202188 !important;
}

.col-12.blockchain-switcher {
  height: 6vw;
}

.switch-network-incorrect-chain {
  color: red;
  cursor: no-drop;
}
.switch-network-text {
  color: green;
  cursor: pointer;
  transition: background 0.1s ease;
  text-decoration: underline;
}

.switch-network-text:hover {
  color: black;
}

.switch-network-close:hover {
  color: black;
}
.switch-network-close {
  margin-left: 1rem;
}
/* v1 */

.header_logo:hover {
  cursor: pointer;
  filter: sepia(1);
  transform: rotate3d(1, 1, 1, 360deg);
  transition-duration: 1.5s;
}
.header_logo-about {
  cursor: pointer;
  width: 180px;
  height: auto !important;
  padding: 15px 0 0 15px;
}

.header_logo:hover {
  cursor: pointer;
  /* filter: sepia(1);
  transform: rotate3d(1, 1, 1, 360deg);
  transition-duration: 1.5s; */
}

/* v2 */

/* .header_logo:hover{
  
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} */

/* v3 */

/* .header_logo:hover, 
.header_logo:focus, 
.header_logo:active {
	-webkit-animation-name: buzz;
	animation-name: buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
	
@-webkit-keyframes buzz {
  50% {
      -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz {
  50% {
    -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
} */

.some-element-hover:hover {
  border-radius: 50%;
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

/* style to App (Connect Wallet) */

.btn-connect-wallet-wrapper {
  background-image: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
  border-radius: 12px;
  box-sizing: content-box;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 1px;
  /* position: absolute; */
  right: 100px;
  top: 16px;
  width: 150px;
  height: 28px;
}

.btn-connect-wallet-wrapper:hover {
  color: #fff;
}

.btn-connect-wallet-wrapper button {
  align-items: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.1s ease;
  width: 100%;
}

.btn-connect-wallet-wrapper:hover button {
  background: transparent;
}

/* style to videoItem */

.video-wrapper {
  font-family: 'Plus Jakarta Text', sans-serif;
}

.pictures-wrapper {
  border-radius: 1rem;
  width: 18.188rem;
}
.modal-content-wrapper-for-video {
  /* width: 60%; */
  /* margin-bottom: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content-play-image {
  position: absolute;
  top: 32%;
  left: 36%;
  background: rgba(127, 127, 127, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.modal-content-play-image:hover {
  transform: scale(1.2);
}

.modal-content-video-lock {
  position: absolute;
  top: 48%;
  left: 48%;
  transform: scale(5.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  z-index: 5;
}
/* .modal-content-video-lock::after { */
/* pointer-events: none; 
  opacity: 0;
  transition: ease opacity 0.3s;
  transition-delay: .0s;  */
/* } */

/* .modal-content-video-lock:hover::after {
  content: attr(data-title);
  font-size: 0.5rem;
  color: white;
} */
/* .more-info-unlock-wrapper:hover::after {
  content: attr(data-title);
  font-size: 0.5rem;
  color: white;
} */

.modal-content-video {
  width: 53em;
  position: relative;
  margin-bottom: 1em;
}

.modal-content-video-thumbnail {
  border-radius: 1rem;
  width: inherit;
  height: 27em;
  object-fit: cover;
}

img.video-locked-modal {
  filter: blur(1px);
  opacity: 0.75;
}

.title-name-internal-options-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5em;
}

.title-and-username-wrapper-for-video-modal {
  display: flex;
  flex-direction: row;
}

.video-description-wrapper {
  display: flex;
  flex-direction: column;
  /* min-height: 13em; */
  max-width: 55em;
  width: 100%;
  word-wrap: break-word;
}

.video-description-wrapper h4 {
  font-size: 20px;
  font-weight: lighter;
}

.video-description-wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
}

.modal-nft-link-wrappers {
  width: 100%;
}

.favorite-collection-upgrade-wrapper-for-video-modal {
  display: flex;
  align-items: center;
}

/* .modal-content-video-choice {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
} */
.modal-content-close-btn {
  width: 32px;
  height: 32px;
  background: #4e4d4d;
  border-radius: 11.6289px;
  border: none;
}
.modal-content-close-btn:hover {
  background: #c676d7;
}
.modal-content-close-btn:hover i::before {
  color: white;
}
.modal-content-close-btn i::before {
  display: inline-block;
  color: #e882d5;
}

/* .modal-content-block-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  justify-content: center;
} */

/* .modal-content-block-buy {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
} */
/* .modal-content-block-buy img {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  border-radius: 1rem;
  object-fit: cover;
} */

/* .more-info-wrapper {
  width: 1200px;
} */
.more-info-text {
  padding: 1rem 0;
  /* color: var(--charcoal-60); */
  display: inline-block;
  font-size: larger;
}
.more-info {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  /* overflow: scroll; */
  overflow-y: hidden;
  justify-content: space-between;
  padding-bottom: 15px;
}
.more-info-unlock-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2.2rem;
}
.more-info-unlock-wrapper img {
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.collection-item-banner .inputFile {
  position: absolute;
  height: 35px;
}

.collection-item-banner {
  justify-content: space-between;
  position: relative;
  padding-right: 0;
}

.collection-item-banner .banner-collection {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .description-wrapper-video {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(34, 32, 33, 0.5);
    color: white;
    position: relative;
    top: -3.7rem;
    height: 59px;
    padding: 0px 0px 8px 16px;
}

.description-wrapper-video:hover {
    padding-top: 1rem;
    height: 17.35rem;
    top: -17.35rem;
    margin-bottom: -16.35rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition-duration: 0.5s;
}

.description-wrapper {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(34, 32, 33, 0.5);
    color: white;
    position: relative;
    top: -5.5rem;
    height: 87px;
    padding: 8px 0px 8px 16px;
}

.description-wrapper:hover {
    height: 17.35rem;
    top: -17.35rem;
    margin-bottom: -16.35rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition-duration: 0.5s;
}

.description-wrapper:not(:hover),
.description-wrapper-video:not(:hover) {
    transition-duration: 0.5s;
} */

/* .description-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
} */

/* for videoList input */

.wrapper-collection .list-button-wrapper {
  margin-left: 0;
}

.wrapper-collection {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 3rem 120px;
}
.list-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
  width: 1200px;
  /* margin-left: 5vw; */
}

@-moz-document url-prefix() {
  .nft-items-wrapper {
    width: 1200px;
  }
}

.list-wrapper-empty {
  width: 100%;
  margin: 0 0 40px 0;
  margin-top: 100px;
}

.input-search-wrapper {
  /* max-width: 86%; */
  display: flex;
}

.input-styled {
  height: 48px;
  /* left: 120px;
  top: 453px; */
  border-radius: 16px;
  margin-bottom: 32px;
  background: #e5e5e5;
  /* border: 1px solid #4e4d4d; */
  padding-left: 3rem;
}

.input-styled:focus {
  background: #e5e5e5;
}

i.fas-custom {
  position: absolute;
  top: 0.8rem;
  color: #e882d5;
  font-weight: lighter;
  transform: scale(0.7);
  left: 0.5rem;
}

/* for videoUpload */

.input-select-custom-style {
  border-radius: 16px;
  /* border: 1px solid #4e4d4d; */
  padding-left: 1rem;
  margin-top: 0.5rem;
}

select.form-control.rounded-rair:disabled {
  background: rgb(127 127 127) !important;
  color: #c4c4c4 !important;
}

.input-select-custom-style::-webkit-file-upload-button {
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

/* for mack-up-page */

.category-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  /* padding-left: 6vw; */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 1200px;
}

.category-button {
  border: 1px solid var(--rhyno);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 204px;
  height: 32px;
  border-bottom: none;
  padding: 5px 0;
  cursor: pointer;
}

/* .react-tabs__tab.react-tabs__tab--selected { */
/* background-color: var(--charcoal-80); */
/* background-color: red; */
/* } */

#react-tabs-3 {
  /* margin-bottom: 4rem; */
}

.react-tabs {
  width: -webkit-fill-available;
}

.category-button-videos {
  margin-left: -36px;
}

.react-tabs__tab--selected,
.search-tab-selected-dark {
  background-color: var(--charcoal-80) !important;
  z-index: 0;
}

.my-items-header-wrapper .category-button.search-tab-selected-dark,
.my-items-header-wrapper .category-button.search-tab-selected-default {
  color: #19a7f6;
}

.search-tab-selected-default {
  background-color: var(--rhyno) !important;
  color: rgb(41, 41, 41);
  z-index: 0;
  /* border: solid 1px var(--charcoal-80); */
}

.styles-module_carousel-arrow__26sRw {
  display: none;
}

.ReactModal__Overlay--after-open {
  background-color: #434343 !important;
}

.mobile-view-buttons-video div span {
  font-size: 14px;
}

.custom-desc-to-offer-wrapper {
  margin-top: 2rem;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.custom-desc-to-offer {
  padding-top: 36px;
  padding-bottom: 31px;
  margin-right: 16px;
  margin-left: 0px !important;
  border: 1.3px solid #4e4d4d;
  background-color: transparent;
  border-radius: 16px;
  height: 87px;
  width: 13.235%;
}

.custom-desc-to-offer a {
  word-wrap: break-word;
}

.custom-offer-pic-link:hover {
  color: rgb(186, 89, 224) !important;
  text-decoration: none;
}

.carousel-item-padding-4-px button {
  padding-left: 0px;
}

.accordion__item {
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #383637;
}

.pic-description-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  z-index: 1;
}

.wrapper-for-collection-view {
  display: flex;
  flex-direction: row;
}

.description-big {
  display: none;
  cursor: pointer;
}

.description-more:hover {
  color: #d779c6;
}

.description-more::after {
  content: '\2794';
  padding-left: 6px;
  color: #d779c6;
}

/* .pic-description-wrapper:hover {
    justify-content: flex-start;
    transition-duration: 0.5s;
    z-index: 1;
}

.pic-description-wrapper:hover .description-price {
    font-size: 26px;
    text-align: center;
    line-height: 1.1;
}
.pic-description-wrapper:hover .description-price-unlockables-page{
    font-size: 17px;
    text-align: center;
    line-height: 1.1;
}

.pic-description-wrapper:hover .description-more {
    margin-top: 45px;
}

.pic-description-wrapper:hover .blockchain-img {
    transform: scale(2);
    margin-top: -20px;
    padding-bottom: 16px;
} */

.description-small {
  display: block;
}

/* .pic-description-wrapper:hover .description-small {
    display: none;
} */

/* drop-down */

/* .rainbow-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  margin: 0;
  font: 18px 'PT Serif', serif;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
  
.rainbow-text::first-letter{
  float: left;
  margin-right: 9px;
  line-height: 1em;
  font-size: 260%;
}
   
    
.rainbow-text::after{
  content: '';
  display: inline-block;
  width: 100%;

} */

/* accordion__item*/

.accordion__item {
  margin-left: 0;
}

/* accordion__button */

.accordion__button {
  text-align: left;
  font-size: 20px;
}

.accordion__button::after {
  content: '\002B';
  float: right;
  color: black;
  background-color: white;
  border-radius: 16px;
  width: 26px;
  height: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
}

.accordion__button[aria-expanded='true']::after,
.accordion__button[aria-selected='true']::after {
  content: '\2212';
  color: red;
}

.btn-play {
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  color: #000;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  transition: 0.3s;
  cursor: pointer;
}

.btn-play:hover {
  background: #d2d2d2;
  transition: 0.3s;
}

.btn-play div {
  margin: auto;
}

.nft-collection .react-player__preview {
  width: 406px;
  height: 406px;
  border-radius: 16px;
}

.main-wrapper {
  padding: 0px 120px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wait-minting-token img {
  height: 300px;
  width: auto;
  border-radius: 12px;
  margin-top: 10px;
}

.col-12 .rounded .react-player__play-icon {
  position: absolute;
  top: 28px;
  left: 23px;
  border-color: transparent transparent transparent #000 !important;
  border-width: 7px 0px 9px 13px !important;
  z-index: 2;
}

.col-12 .rounded .react-player__preview {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.col-12 .rounded .react-player__shadow {
  z-index: 2;
  background: none !important;
}

.activeClassToken img {
  border-radius: 16px;
}

.activeClassBg {
  position: absolute;
  width: 291px;
  border-radius: 16px;
  height: 291px;
  background-color: rgba(34, 32, 33, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.skeloton-product {
  margin: 8px;
  border-radius: 16px;
}

/* style for My Items */
.my-items-wrapper {
  margin-bottom: 108px;
}

.my-items-bar-wrapper {
  display: flex;
  position: relative;
}
.my-items-title-wrapper {
  width: 202px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 22px;
}
.my-items-title-wrapper:hover {
  filter: brightness(0.5);
}
.my-items-title {
  cursor: pointer;
  margin-left: 24px;
}

.fa-arrow-custom {
  color: #e882d5;
  transform: scale(1.5);
  font-weight: 400;
}

.bg-my-items {
  border-radius: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: local;
  /* background-blend-mode: overlay; */
}

/* .my-items-description-wrapper:hover{
  height: 18rem;
  top: -6px;
  margin-bottom: -16.35rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition-duration: 0.5s;
}
.my-items-description-wrapper:not(:hover){
  transition-duration: 0.5s;
} */

.my-items-blockchain-img {
  width: 25px;
  transform: scale(1.3);
}

.clear-filter-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.clear-filter {
  border: none;
  padding: 5px 15px;
  border-radius: 6px;
  margin-right: 2rem;
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
  color: white;
}

.clear-filter.rhyno {
  color: black;
}

.clear-filter:hover {
  background: var(--stimorol-hover) !important;
}

.clear-filter.hotdrops-bg:hover {
  background: var(--hot-drops-hover) !important;
}

.clear-filter:hover::after {
  content: '\274E';
  color: blue;
  padding-left: 1rem;
}

.clear-filter.filter-category {
  background: linear-gradient(
    310deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

/* search bar styling */

.search-panel-empty-text {
  cursor: default;
}
.search-holder-wrapper {
  /* position: fixed; */
  position: absolute;
  /* top: 5rem;
  left: 35rem; */
  top: 3rem;
  /* left: 18rem; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.search-holder-wrapper.mobile {
  position: relative;
  width: 95vw;
  height: 70vh;
  overflow: auto;
}

.search-holder-wrapper.mobile .search-holder .data-find-wrapper {
  width: 100%;
}

.popup-content .search-holder-wrapper-content {
  margin: 5% auto auto 26% !important;
}
.popup-overlay .search-holder-wrapper-overlay div {
  margin: 5% auto auto 26% !important;
}
#popup-136 {
  margin: 0 !important;
}
.search-holder-wrapper.rhyno {
  background: #fafafa;
}
.search-holder {
  /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: start; */

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* max-height: 500px; */
  /* padding: 1rem; */
}
/* .search-holder.empty{ */
/* padding: 0; */
/* } */
.data-find-wrapper {
  cursor: default;
  width: 100%;
  border-bottom: 1px solid #817982;
  padding: 1rem;
}
.data-find-wrapper:last-child {
  border-bottom: none;
}
.data-find-wrapper {
  /* max-height: 400px; */
  max-height: 240px;
  overflow-y: auto;
}
.data-find-wrapper h5 {
  cursor: default;
  text-align: center;
}
.data-find {
  display: flex;
  padding-bottom: 16px;
  /* flex-wrap: nowrap; */
}
.data-find:last-child {
  padding-bottom: 0px;
}
.data-find p {
  margin-top: 5px;
  cursor: pointer;
}
.data-find-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 9px;
}
.data-nothing-find {
  padding: 10px;
}
.data-find-img.bot {
  margin-top: 10px;
}
.desc-wrapper {
  margin-left: 10px;
  /* width: 350px; */
  /* height: 30px; */
  /* overflow: scroll; */
}
.highlight {
  /* color: var(--arctic-blue); */
  color: #04f3ff;
}
.fa-lock::before {
  color: white;
}

/* Modal Item */

/* .iDawfU.active .modal-content {
  height: auto !important;
} */

.modal-item-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.modal-item-user {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.modal-content-close-btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 2rem;
  /* padding-right: 1em; */
}

.modal-item-token {
  margin-left: 1rem;
}

.modal-item-token {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.modal-item-footer-wrapper {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.modal-item-footer-price {
  border: 1.3px solid #4e4d4d;
  border-radius: 16px;
  box-sizing: border-box;
  background: none;
  font-size: 20px;
  color: #fff;
  padding: 9px 24px 11px;
  margin-right: 16px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  line-height: 28px;
}

.video-size {
  font-size: 12px;
}

.title-of-video {
  display: flex;
  align-items: center;
}

.title-of-video h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: lighter;
  margin-right: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 20px;
  height: 20px;
  border-radius: 8px;
}

.user-icon-svg-wrapper {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: var(--royal-ice);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-info {
  display: flex;
}

.duration-for-video {
  background-color: var(--charcoal);
  color: white;
  min-width: 107px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  padding: 5px 5px;
  opacity: 0.7;
}

.price-total {
  padding-left: 6px;
}

.price-blockchain {
  margin-right: 15px;
  padding-left: 10px;
}

.modal-item-footer-view-token {
  box-sizing: border-box;
  padding: 10px 53px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
}

.emptyFilter {
  margin: 0 8px;
}

button.metamask-on-boarding {
  /* background-image: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%); */
  background: #bb73d7;
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  color: white;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 14px;
}

a button.metamask-on-boarding {
  width: 100%;
}

button.metamask-on-boarding:hover {
  background-image: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

button.metamask-on-boarding:focus {
  border-color: var(--charcoal-60);
  box-shadow: 0 0 0 0.25rem var(--charcoal-20);
}

.btn-change-theme {
  color: #9867d9;
  transition: all 0.3s ease;
  border: solid 1px #9867d9;
  border-radius: 12px;
  width: 32px;
  height: 32px;
  font-size: 18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-change-theme:hover {
  background: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
  color: #fff;
}

.btn-change-theme:focus {
  color: #fff;
  border: solid 1px #fff;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #000;
  background: #424141;
  padding: 40px 0;
  min-height: 10vh;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
}

.footer.rhyno {
  background: #ccc;
}

.footer ul li a img {
  width: 50px;
  height: auto;
}

.footer .text-rairtech {
  font-size: 16px;
  color: #a7a6a6;
}

.footer .text-rairtech.rhyno {
  color: #000;
}

.footer ul {
  display: flex;
  margin: 0;
}

.footer ul li {
  margin-right: 64px;
  cursor: pointer;
}

.footer ul li a.footer-link {
  color: #fff;
}

.footer ul li a.footer-link.rhyno {
  color: inherit;
}

.footer ul li:last-child {
  margin-right: 0;
}

.filter__btn__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
/* .nft-data-page_show__more_wrapper{
    width: 288px;
    height: 48px;
    box-sizing: content-box;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 1px;
    border-radius: 16px;
    background-image: linear-gradient(96.34deg, #725BDB 0%, #805FDA 10.31%, #8C63DA 20.63%, #9867D9 30.94%, #A46BD9 41.25%, #AF6FD8 51.56%, #AF6FD8 51.56%, #BB73D7 61.25%, #C776D7 70.94%, #D27AD6 80.62%, #DD7ED6 90.31%, #E882D5 100%);
}
.nft-data-page_show__more_wrapper:hover{
    background: #8C63DA;
}
.nft-data-page_show__more:hover{
    background: #8d18916e;
}
.nft-data-page_show__more{
    width: 288px;
    height: 48px;
    background: #434343;
    border-radius: 16px;
    padding-top: auto;
}
.nft-data-page_show__more__text{
    text-align: center;
    display: inline-block;
    padding: 12.5px;
} */

/* video player styles */
.video-js {
  background-color: transparent;
}
.video-js .vjs-play-progress {
  background: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.video-js .vjs-slider {
  background-color: #fff;
}

.video-js .vjs-load-progress {
  background: rgba(115, 133, 159, 0.75);
}

.video-js .vjs-slider {
  background: rgba(115, 133, 159, 0.75);
}

.video-js .vjs-volume-level {
  background: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  color: #c07cff;
}

.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
  color: #c07cff;
}

.vjs-icon-picture-in-picture-enter:before,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
  color: #c07cff;
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
  color: #c07cff;
}

.vjs-playback-rate .vjs-playback-rate-value {
  color: #c07cff;
}

.vjs-button > .vjs-icon-placeholder {
  color: #c07cff;
}

.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover,
.js-focus-visible .vjs-menu li.vjs-menu-item:hover {
  background: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover,
.js-focus-visible .vjs-menu li.vjs-selected:hover {
  color: #fff;
  background: linear-gradient(
    305deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
}

.video-js .vjs-time-control {
  color: #c07cff;
}

.search-contracts-factory {
  margin: 0.25rem 0;
}

.search-contracts-factory
  input.form-control.contracts-filter-charcoal::placeholder {
  color: rgb(135, 135, 135);
}

/* media queries all  */

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .ReactModal__Content--after-open {
    /* margin-right: auto !important; */
    /* margin-top: 5rem; */
    /* height: fit-content; */
    height: 90%;
    place-content: space-between !important;
    flex-wrap: nowrap !important;
  }

  /* .modal-content-wrapper-for-video {
    height: 100%;
  } */

  .modal-content-video {
    width: 52em;
  }

  .modal-content-video-thumbnail {
    /* margin-right: 0; */
    height: 28em;
  }

  /* .more-info-wrapper {
    width: 46.875rem;
  } */

  /* .modal-content-block-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  } */

  .video-description-wrapper {
    padding-bottom: 5em;
  }

  .modal-content-close-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .modal-content-play-image {
    position: absolute;
    top: 28%;
    left: 38%;
    max-width: 100%;
    transform: scale(0.9);
  }

  .modal-content-play-image:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1077px) and (min-width: 1001px) {
  .wrapper-collection {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper-collection {
    padding: 1rem 3rem !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .wrapper-collection {
    /* margin-left: 3vw; */
  }
  i.fas-custom {
    /* left: 3vw !important; */
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .col-1.rounded {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55px;
  }
  .col-12.pt-2.mb-4 {
    /* margin-right: 150px; */
  }
  i.fas-custom {
    /* left: 3vw !important; */
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .ReactModal__Content--after-open {
    margin-right: auto !important;
    margin-top: 4rem;
    max-width: 95%;
    height: initial;
    place-content: space-between !important;
    flex-wrap: nowrap !important;
  }

  .modal-content-wrapper-for-video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal-content-video-thumbnail {
    width: 98%;
  }

  .modal-content-video {
    width: 45rem;
  }

  .modal-content-video-lock {
    transform: scale(4.5);
  }

  .modal-content-play-image {
    position: absolute;
    top: 20%;
    left: 35%;
    max-width: 100%;
    transform: scale(0.7);
  }

  .modal-content-play-image:hover {
    transform: scale(0.9);
  }

  .title-name-internal-options-wrapper {
    width: 98%;
  }

  .title-of-video p {
    font-size: 18px;
  }

  .video-description-wrapper {
    max-width: 43em;
    padding-bottom: 1em;
  }

  .video-description-wrapper h4 {
    font-size: 17px;
  }

  .video-description-wrapper p {
    font-size: 15px;
  }

  .modal-nft-link-wrappers {
    width: 98%;
  }

  .modal-content-close-btn-wrapper {
    padding-bottom: 0.75rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .ReactModal__Content--after-open {
    margin-top: 15%;
    margin-right: auto !important;
    inset: 50% auto auto 50%;
    width: 90%;
    place-content: space-between !important;
    flex-wrap: nowrap !important;
  }

  .modal-content-wrapper-for-video {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .modal-content-video-lock {
    transform: scale(4);
  }

  .modal-content-video {
    width: 24em;
  }

  .modal-content-video-thumbnail {
    height: 35em;
  }

  .video-description-wrapper {
    padding-bottom: 1em;
  }

  .modal-content-play-image {
    position: absolute;
    top: 15px;
    left: 28%;
    max-width: 100%;
    transform: scale(0.5);
  }
  .modal-content-play-image:hover {
    transform: scale(0.6);
  }

  .title-name-internal-options-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  .wrapper-collection {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .block-collection-desc {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) and (min-width: 250px) {
  .ReactModal__Content--after-open {
    margin-top: 22%;
    margin-right: auto !important;
    width: 95%;
    place-content: space-between !important;
    flex-wrap: nowrap !important;
  }

  .modal-content-video {
    width: 20em;
  }

  .modal-content-video-thumbnail {
    height: 35em;
  }

  .video-description-wrapper p {
    overflow-y: scroll;
    max-height: 10em;
    font-size: 14px;
  }

  .modal-content-close-btn-wrapper {
    padding-bottom: 0.5rem;
  }

  .modal-content-video-lock {
    transform: scale(4);
  }

  .title-and-username-wrapper-for-video-modal {
    flex-direction: column;
  }

  .title-name-internal-options-wrapper {
    flex-direction: column;
  }

  .title-and-username-wrapper-for-video-modal {
    flex-direction: column;
  }

  .title-of-video h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .video-description-wrapper h4 {
    font-size: 16px;
  }

  .modal-content-play-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .modal-content-play-image {
    position: relative;
    left: 0;
    top: 0;
    max-width: 100%;
    transform: scale(0.5);
  }

  .modal-content-play-image:hover {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 409px) and (min-width: 200px) {
  /* .ReactModal__Content--after-open {
    margin-right: auto !important;
    width: 93%;
    place-content: space-between !important;
    flex-wrap: nowrap !important;
  }

  .modal-content-wrapper-for-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  } */

  .modal-content-video-lock {
    transform: scale(2);
  }

  /* .more-info-wrapper {
    width: 12.875rem;
  } */

  /* .modal-content-video {
    width: 100%;
  } */

  /* .modal-content-video-choice {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    width: -webkit-fill-available;
  } */

  .modal-content-play-image {
    position: inherit;
    top: 8px;
    left: 20%;
    max-width: 100%;
    transform: scale(0.5);
  }

  .modal-content-play-image:hover {
    transform: scale(0.6);
  }
}

/* @media only screen and (min-width: 768px) {
  
} */

/* @media only screen and (min-width: 992px) {
  #nft-data-page-wrapper{
    max-width: 56rem;
  }
} */

/* @media only screen and (min-width: 1200px) {
  #nft-data-page-wrapper{
    max-width: 96rem;
  }
} */

/* img {
  pointer-events: none;
} */

/* width */

body::-webkit-scrollbar {
  width: 15px;
  background: #cdcdcd;
}

/* Track */

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8c63da;
  border-radius: 12px;
}

body.hotdrops::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--hot-drops);
  border-radius: 12px;
}

/* Handle */

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
  border-radius: 12px;
}

body.hotdrops::-webkit-scrollbar-thumb {
  background: var(--hot-drops);
  border-radius: 12px;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
  background: #a46bd9;
}

body::-webkit-scrollbar-thumb:active {
  background: #8c63da;
}

body.hotdrops::-webkit-scrollbar-thumb:hover {
  background: var(--hot-drops-hover);
}

body.hotdrops::-webkit-scrollbar-thumb:active {
  background: var(--hot-drops-click);
}

.video-btn-back {
  text-align: left;
}

.video-btn-back button {
  font-size: 20px;
  color: #fff;
  background: linear-gradient(
    96.34deg,
    #725bdb 0%,
    #805fda 10.31%,
    #8c63da 20.63%,
    #9867d9 30.94%,
    #a46bd9 41.25%,
    #af6fd8 51.56%,
    #af6fd8 51.56%,
    #bb73d7 61.25%,
    #c776d7 70.94%,
    #d27ad6 80.62%,
    #dd7ed6 90.31%,
    #e882d5 100%
  );
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.video-btn-back button:hover {
  background: #af6fd8;
}

@media screen and (max-width: 1077px) {
  .col-1.hidden-block {
    width: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .main-block-app {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  /* #nft-data-page-wrapper {
    padding-left: 0;
  } */
}

@media screen and (max-width: 700px) {
  .blockchain-switcher {
    height: 3vh !important;
  }
  .btn-connect-wallet-wrapper button.metamask-on-boarding {
    top: 50px;
    right: 0;
  }

  .list-button-wrapper {
    justify-content: center;
    margin-left: 5vw;
  }

  .col-6.text-left.main h1 {
    text-align: center !important;
  }

  .col-6.text-left.main p {
    text-align: center !important;
  }
}

@media screen and (max-width: 499px) {
  .modal-content-close-btn-wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  .btn-connect-wallet-wrapper button.metamask-on-boarding {
    top: 50px;
    right: -55px;
  }

  .list-button-wrapper {
    margin-left: 5vw;
  }

  .login-modal-down-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .btn-connect-wallet-wrapper button.metamask-on-boarding {
    top: 100px;
    right: -55px;
  }
}

.vjs-has-started {
  border-radius: 16px !important;
}
.vjs-control-bar {
  border-radius: 16px !important;
}
.video-js {
  border-radius: 16px !important;
}

.vjs-tech {
  border-radius: 16px !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-wrapper {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -7rem;
}

.load {
  width: 100px;
  height: 100px;
  margin: 110px auto 0;
  border: solid 10px #bb73d7;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.vjs-tech {
  width: -webkit-fill-available !important;
}

.main {
  max-width: 1200px;
  width: 100%;
}

div:where(.swal2-container) button:where(.swal2-close):focus {
  box-shadow: none;
}
