@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    local('Plus Jakarta Sans'),
    url(./fonts/webfonts/PlusJakartaSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src:
    local('Plus Jakarta Sans Bold'),
    url(./fonts/webfonts/PlusJakartaSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Bazar';
  src:
    local('Bazar'),
    url(./fonts/Bazar.ttf) format('truetype');
}

@font-face {
  font-family: 'Nebulosa Black Display Stencil';
  src: url(./fonts/Nebulosa/Graviton\ -\ NebulosaBlackDisplayStencil.otf)
    format('opentype');
}

@font-face {
  font-family: 'Nebulosa Black Display Solid';
  src: url(./fonts/Nebulosa/Graviton\ -\ NebulosaBlackDisplaySolid.otf)
    format('opentype');
}

@font-face {
  font-family: 'Acme';
  src:
    local('Acme'),
    url(./fonts/Acme/Acme-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src:
    local('Nunito'),
    url(./fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(./fonts/Inter/Inter-VariableFontwght.ttf) format('truetype');
}

@font-face {
  font-family: 'Charriot Deluxe';
  src:
    local('Charriot Deluxe'),
    url(./fonts/charriot_deluxe/CharriotDeluxe.ttf) format('truetype');
}

@font-face {
  font-family: 'Cooper Std Black';
  src:
    local('Cooper Std Black'),
    url(./fonts/Cooper\ Std\ Black/Cooper\ Std\ Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Copperplate';
  font-weight: normal;
  src:
    local('Copperplate'),
    url(./fonts/copperplate/OPTICopperplate.otf) format('opentype');
}

@font-face {
  font-family: 'Copperplate';
  font-weight: heavy;
  src:
    local('Copperplate'),
    url(./fonts/copperplate/OPTICopperplate-Heavy.otf) format('opentype');
}

@font-face {
  font-family: 'Copperplate';
  font-weight: normal;
  src:
    local('Copperplate'),
    url(./fonts/copperplate/OPTICopperplate.otf) format('opentype');
}

@font-face {
  font-family: 'Copperplate';
  font-weight: light;
  src:
    local('Copperplate'),
    url(./fonts/copperplate/OPTICopperplate-Light.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
