.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  width: calc(302px * 4 + 10px);
}

.user-header-wrapper {
  width: calc(302px * 4 + 10px);
  padding: 0px 0px 0px 15px;
}

.tabs-section {
  display: flex;
}

.bar-wrapper i {
  color: #19a7f6;
}

.form-control.input-styled.user-search {
  width: 100%;
}

/* Diamond Items styles start*/
.container-diamond-items {
  margin: 32px 0 20px 0;
}

.container-diamond-items h3 {
  text-align: left;
}

/* Diamond Items styles end*/

@media screen and (max-width: 1280px) {
  .breadcrumbs {
    width: 85vw;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1260px) {
  .user-header-wrapper .category-button {
    width: 175px;
  }
}

@media screen and (max-width: 1250px) {
  .user-header-wrapper {
    max-width: calc(302px * 3 + 10px);
  }
  .user-search {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1077px) {
  .container {
    /* margin-left: 5vw; */
  }
}

@media screen and (max-width: 1024px) {
  .breadcrumbs {
    margin-top: 0px;
  }
}

@media screen and (max-width: 980px) {
  .user-header-wrapper {
    max-width: calc(302px * 2 + 10px);
  }
  .my-items-product-wrapper {
    max-width: calc(302px * 2);
    width: 86.6vw;
  }

  .bar-wrapper {
    flex-direction: column;
  }

  .user-header-wrapper .category-wrapper {
    width: 91.2vw;
    display: flex;
    justify-content: flex-start;
  }

  .user-header-wrapper .category-button {
    width: 190px;
  }
}

@media screen and (max-width: 900px) {
  .my-items-description-wrapper
    .container-blue-description
    .container-blockchain-info
    .description,
  .my-items-description-wrapper
    .container-blue-description
    .container-blockchain-info
    .description-title
    span {
    font-size: calc(13px + 0.3vw) !important;
  }
}

@media screen and (max-width: 700px) {
  .bar-wrapper {
    justify-content: space-between;
  }
  .user-header-wrapper {
    max-width: calc(275px * 2 + 20px);
    padding: 0px 0px 0px 20px;
  }
  .user-search {
    max-height: 40px;
  }
  .user-header-wrapper .category-button {
    font-size: 12px;
  }

  .user-header-wrapper .category-wrapper > * {
    border-radius: 12px;
  }
}

@media screen and (max-width: 600px) {
  .user-header-wrapper {
    max-width: calc(195px * 2 + 15px);
    padding: 0 0 0 10px;
  }

  .my-items-blockchain-img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 450px) {
  .user-header-wrapper {
    max-width: calc(175px * 2 + 15px);
  }
}

@media screen and (max-width: 400px) {
  .my-items-product-wrapper {
    width: 95vw;
  }
}
